Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagger-image-builder, build-agent-auto

tagger-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:24.0.4-gbi-focal
  script:
  - docker buildx build --tag $TAGGER_IMAGE -f .gitlab/tagger/Dockerfile . --push
  tags:
  - arch:amd64

build-agent-auto:
  variables:
    RELEASE_VERSION_6: nightly
    RELEASE_VERSION_7: nightly-a7
    BUCKET_BRANCH: dev
    DEPLOY_AGENT: 'false'
    INTEGRATIONS_CORE_VERSION: ${CI_COMMIT_REF_NAME}
    RUN_E2E_TESTS: 'on'
    RUN_KITCHEN_TESTS: 'false'
  stage: build
  trigger:
    project: DataDog/datadog-agent
    branch: 7.73.x
  ...

fix(avi_vantage): pin the scrape Accept header
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/tests/test_avi_vantage.py
Due: none

test: cover HTTP paths their suites never ran
  kube_controller_manager/tests/test_kube_controller_manager.py
  kube_dns/tests/test_kube_dns.py
  kube_metrics_server/tests/test_kube_metrics_server.py
  kube_proxy/tests/test_kube_proxy.py
  kube_scheduler/tests/test_kube_scheduler_1_14.py
  marathon/tests/test_unit.py
  mesos_slave/tests/test_unit.py
  vsphere/tests/test_api_rest.py
Due: none

docs(base): document the agnostic error contract
  datadog_checks_base/changelog.d/22676.changed
  docs/developer/base/http.md
Due: none

feat(base): add the agnostic HTTP protocol, exceptions and test doubles
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/http_exceptions.py
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
  datadog_checks_base/tests/base/utils/http/common.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_config.py
  datadog_checks_base/tests/base/utils/http/test_exceptions.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  ddev/src/ddev/cli/validate/http.py
  ddev/tests/cli/validate/test_http.py
  docs/developer/base/http.md
Due: tagger-image-builder

docs: add changelog entries for the agnostic HTTP floor
  datadog_checks_base/changelog.d/24795.added
  datadog_checks_dev/changelog.d/24795.added
  ddev/changelog.d/24795.fixed
Due: tagger-image-builder

revert(ddev): drop the validate http tightening from this PR
  ddev/changelog.d/24795.fixed
  ddev/src/ddev/cli/validate/http.py
  ddev/tests/cli/validate/test_http.py
Due: tagger-image-builder

Surface unreadable checkpoints and re-check resumability before resuming
  ddev/src/ddev/ai/runtime/checkpoints.py
  ddev/src/ddev/cli/meta/ai/tui/runs.py
  ddev/src/ddev/cli/meta/ai/tui/screens/flow.py
  ddev/src/ddev/cli/meta/ai/tui/screens/main.py
  ddev/src/ddev/cli/meta/ai/tui/widgets/flow_card.py
  ddev/tests/cli/meta/ai/tui/test_flow_screen.py
  ddev/tests/cli/meta/ai/tui/test_main_screen.py
Due: tagger-image-builder

envoy: match envoy-distroless containers for config discovery
  envoy/assets/configuration/spec.yaml
  envoy/datadog_checks/envoy/data/auto_conf.yaml
Due: none

[ibm_mq] Collect per-queue PCF metrics in bulk with wildcard names
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/tests/test_queue_metric_collector.py
Due: none

[ibm_mq] Add changelog fragment for wildcard PCF collection
  ibm_mq/changelog.d/24796.fixed
Due: none

[voltdb] Switch to native VoltDB Python client (#24714)
  .deps/builder_inputs.toml
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  .github/workflows/test-all.yml
  LICENSE-3rdparty.csv
  agent_requirements.in
  voltdb/README.md
  voltdb/assets/configuration/spec.yaml
  voltdb/changelog.d/24714.added
  voltdb/datadog_checks/voltdb/check.py
  voltdb/datadog_checks/voltdb/client.py
  voltdb/datadog_checks/voltdb/config.py
  voltdb/datadog_checks/voltdb/config_models/defaults.py
  voltdb/datadog_checks/voltdb/config_models/instance.py
  voltdb/datadog_checks/voltdb/data/conf.yaml.example
  voltdb/datadog_checks/voltdb/http_client.py
  voltdb/datadog_checks/voltdb/queries.py
  voltdb/datadog_checks/voltdb/types.py
  voltdb/hatch.toml
  voltdb/pyproject.toml
  voltdb/tests/common.py
  voltdb/tests/compose/docker-compose.yaml
  voltdb/tests/conftest.py
  voltdb/tests/test_integration.py
  voltdb/tests/test_unit.py
  voltdb/tests/utils.py
Due: build-agent-auto

Stabilize modal layout tests
  ddev/tests/cli/meta/ai/tui/test_launch_modal.py
  ddev/tests/cli/meta/ai/tui/test_main_screen.py
Due: tagger-image-builder

Add MySQL Data Observability job
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/data_observability.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/pyproject.toml
  mysql/tests/test_data_observability.py
Due: none

Add changelog for PR 24798
  mysql/changelog.d/24798.added
Due: none

Fix MySQL validation metadata
  agent_requirements.in
  mysql/datadog_checks/mysql/config_models/__init__.py
  mysql/datadog_checks/mysql/config_models/defaults.py
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/config_models/shared.py
Due: none

Update third-party licence inventory
  LICENSE-3rdparty.csv
Due: none

Use authenticated licence metadata
  LICENSE-3rdparty.csv
Due: none

Address the review comments
  ddev/src/ddev/cli/ci/tests/messages.py
  ddev/src/ddev/cli/ci/tests/progress.py
  ddev/src/ddev/cli/ci/tests/status.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/tests/cli/ci/tests/test_messages.py
  ddev/tests/cli/ci/tests/test_progress.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
Due: tagger-image-builder

add x_forwarded_for attribute
  iis/assets/logs/iis.yaml
Due: none

fix indent error
  iis/assets/logs/iis.yaml
Due: none

Rename Cluster Monitoring section to Kafka Console in kafka_consumer README (#24775)
  kafka_consumer/README.md
Due: none

Add gRPC access log flush metrics to Envoy integration (#24785)
  envoy/changelog.d/24785.added
  envoy/datadog_checks/envoy/metrics.py
  envoy/metadata.csv
  envoy/tests/common.py
  envoy/tests/fixtures/legacy/multiple_services
  envoy/tests/fixtures/openmetrics/openmetrics.txt
Due: none

added forgotten %
  iis/assets/logs/iis.yaml
Due: none

Add batch and job progress aggregate to the test gatherer (#24774)
  ddev/changelog.d/24774.added
  ddev/src/ddev/cli/ci/tests/messages.py
  ddev/src/ddev/cli/ci/tests/progress.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
  ddev/tests/cli/ci/tests/test_messages.py
  ddev/tests/cli/ci/tests/test_progress.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Due: tagger-image-builder

intersystems_iris: finalize 196-metric map (verified on IRIS + IRIS for Health)
  intersystems_iris/README.md
  intersystems_iris/assets/configuration/spec.yaml
  intersystems_iris/datadog_checks/intersystems_iris/data/conf.yaml.example
  intersystems_iris/datadog_checks/intersystems_iris/metrics/default.yaml
  intersystems_iris/metadata.csv
Due: none

remove .in-toto change in port
  .in-toto/tag.60ed9a6b.link
Due: none

Bump minimum datadog_checks_base to latest release
  nginx/pyproject.toml
Due: none

add changelog
  nginx/changelog.d/24801.fixed
Due: none

update message and pin action
  .github/workflows/notify-new-integration.yml
Due: none

envoy: add type hints to test_e2e.py
  envoy/tests/test_e2e.py
Due: none

change syntax for grok parser
  iis/assets/logs/iis.yaml
Due: none

Add mysql.uptime metric
  mysql/datadog_checks/mysql/const.py
  mysql/metadata.csv
  mysql/tests/variables.py
Due: none

Add changelog entry
  mysql/changelog.d/24802.added
Due: none

use existing workflow
  .github/workflows/claim-pypi-name.yaml
  .github/workflows/notify-new-integration.yml
Due: none

Fix account_config.json schema violations for several integrations
  anthropic_compliance_logs/assets/account_config.json
  anthropic_usage_and_costs/assets/account_config.json
  avast/assets/account_config.json
  crowdstrike_fdr/assets/account_config.json
  hubspot_content_hub/assets/account_config.json
  palo_alto_networks_cortex_xsoar/assets/account_config.json
  palo_alto_networks_cortex_xsoar/assets/dataflows.yaml
  proofpoint_on_demand/assets/account_config.json
  proofpoint_tap/assets/account_config.json
  ringcentral/assets/account_config.json
  trellix_endpoint_security/assets/account_config.json
  zerofox_cloud_platform/assets/account_config.json
Due: none

Add evalya manifest for redis standalone in tests
  redisdb/tests/compose/standalone.compose
  redisdb/tests/evalya.yaml
Due: none

fix for logs ints
  .github/workflows/notify-new-integration.yml
Due: none

Path conditions:
  tagger-image-builder: any of: .gitlab/tagger/**/*, ddev/**/*, .gitlab-ci.yml
  build-agent-auto: any of: .deps/*, .gitlab/build_agent.yaml
