Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-agent-build, reminder-image-builder, tagger-image-builder, validate-log-intgs-builder, validate-agent-build-builder

trigger-agent-build:
  stage: trigger
  image: $VALIDATE_AGENT_BUILD
  cache:
    key: integrations-core-slack-cache
    paths:
    - .slack-cache
    policy: pull-push
  script:
  - export SLACK_CACHE_DIR="${PWD}/.slack-cache"
  ...

reminder-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - docker build --tag $REMINDER_IMAGE ./.gitlab/reminder/
  - docker images $REMINDER_IMAGE
  - docker push $REMINDER_IMAGE
  tags:
  - runner:docker

tagger-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - docker build --tag $TAGGER_IMAGE -f .gitlab/tagger/Dockerfile ./datadog_checks_dev/
  - docker images $TAGGER_IMAGE
  - docker push $TAGGER_IMAGE
  tags:
  - runner:docker

validate-log-intgs-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - cd .gitlab/validate-logs-intgs/
  - docker build --tag $VALIDATE_LOG_INTGS .
  - docker images $VALIDATE_LOG_INTGS
  - docker push $VALIDATE_LOG_INTGS
  tags:
  - runner:docker

validate-agent-build-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - cd .gitlab/validate-agent-build/
  - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.ddbuild.io/Datadog/devtools.git --depth 1
  - docker build --tag $VALIDATE_AGENT_BUILD .
  ...

Readme changes
  checkpoint_quantum_firewall/README.md
Due: none

Add kerberos support to confluent-kafka (#16601)
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/linux-x86_64/install-from-source.sh
  .builders/scripts/build_wheels.py
  .builders/scripts/repair_wheels.py
Due: none

Apply suggestions from code review
  .builders/images/linux-x86_64/Dockerfile
Due: none

v13 root.json
  datadog_checks_downloader/datadog_checks/downloader/data/repo/metadata/root.json
Due: none

move Databricks Overview to Spark
  databricks/README.md
  databricks/manifest.json
  spark/assets/dashboards/databricks_overview.json
  spark/manifest.json
Due: none

add changelog
  databricks/CHANGELOG.md
  spark/CHANGELOG.md
Due: none

Formalize mechanism for builders to set environment variables
  .builders/images/linux-x86_64/Dockerfile
  .builders/images/linux-x86_64/build_script.sh
  .builders/images/runner_dependencies.txt
  .builders/scripts/build_wheels.py
Due: none

Fix incompatibility issues with Python 3.9 and lower
  postgres/changelog.d/16608.fixed
  postgres/datadog_checks/postgres/metrics_cache.py
  postgres/datadog_checks/postgres/postgres.py
  teradata/changelog.d/16608.fixed
  teradata/datadog_checks/teradata/utils.py
Due: none

Update dependencies
  amazon_msk/pyproject.toml
  clickhouse/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  postgres/pyproject.toml
Due: trigger-agent-build

Update changelogs
  amazon_msk/changelog.d/16610.added
  clickhouse/changelog.d/16610.added
  datadog_checks_base/changelog.d/16610.added
  postgres/changelog.d/16610.added
Due: none

Remove unused dependencies in the Agent file (#16538)
  .ddev/config.toml
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16538.fixed
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Due: trigger-agent-build

Fix a bug that prevents the `validate dep` command to fail if extra deps are found in the Agent file (#16541)
  .github/workflows/run-validations.yml
  datadog_checks_dev/changelog.d/16541.fixed
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/dep.py
Due: tagger-image-builder

Take into account all the checks when bumping or freezing the dependencies (#16537)
  ddev/changelog.d/16537.fixed
  ddev/src/ddev/cli/dep.py
  ddev/tests/cli/test_dep.py
Due: none

Improve the tests and make them less flaky (#16513)
  temporal/tests/common.py
  temporal/tests/fixtures/metrics.txt
  temporal/tests/test_e2e.py
  temporal/tests/test_integration.py
  temporal/tests/test_unit.py
Due: none

Update datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Due: trigger-agent-build

Bump `openstacksdk` version to 2.0.0 (#16549)
  datadog_checks_base/changelog.d/16549.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  openstack_controller/changelog.d/16549.added
  openstack_controller/pyproject.toml
Due: trigger-agent-build

Bump `pymongo` version to 4.6.1 (#16554)
  .ddev/config.toml
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16554.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mongo/changelog.d/16554.added
  mongo/pyproject.toml
Due: trigger-agent-build

Allow bumping the version of `pymongo` (#16555)
  ddev/changelog.d/16555.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Allow bumping the version `openstacksdk` (#16550)
  ddev/changelog.d/16550.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Run the TLS tests (#16579)
  foundationdb/hatch.toml
  foundationdb/tests/common.py
  foundationdb/tests/conftest.py
  foundationdb/tests/test_foundationdb.py
Due: none

Use the correct version of Python in the `dep` command (#16561)
  ddev/changelog.d/16561.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Remove the direct dependency to `protobuf` (#16572)
  gitlab/changelog.d/16572.fixed
  gitlab/pyproject.toml
  gitlab_runner/changelog.d/16572.fixed
  gitlab_runner/pyproject.toml
  kube_dns/changelog.d/16572.fixed
  kube_dns/pyproject.toml
  kubernetes_state/changelog.d/16572.fixed
  kubernetes_state/pyproject.toml
Due: none

Add the `minimum-base-package` option to all integrations in marketplace's `test-all.yml` file (#16587)
  ddev/changelog.d/16587.added
  ddev/src/ddev/cli/validate/ci.py
  ddev/tests/cli/validate/test_ci.py
Due: none

Run the sandbox tests (#16580)
  teradata/tests/common.py
  teradata/tests/test_e2e.py
Due: none

Update the comment about the pyasn1 bump (#16576)
  ddev/src/ddev/cli/dep.py
Due: none

Bump `psutil` version to 5.9.7
  LICENSE-3rdparty.csv
  btrfs/changelog.d/16547.added
  btrfs/pyproject.toml
  datadog_checks_base/changelog.d/16547.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/changelog.d/16547.added
  disk/pyproject.toml
  gunicorn/changelog.d/16547.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/16547.added
  ibm_mq/pyproject.toml
  network/changelog.d/16547.added
  network/pyproject.toml
  process/changelog.d/16547.added
  process/pyproject.toml
  system_core/changelog.d/16547.added
  system_core/pyproject.toml
  system_swap/changelog.d/16547.added
  system_swap/pyproject.toml
Due: trigger-agent-build

Bump `psutil` version to 5.9.7 (#16547)
  LICENSE-3rdparty.csv
  btrfs/changelog.d/16547.added
  btrfs/pyproject.toml
  datadog_checks_base/changelog.d/16547.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/changelog.d/16547.added
  disk/pyproject.toml
  gunicorn/changelog.d/16547.added
  gunicorn/pyproject.toml
  ibm_mq/changelog.d/16547.added
  ibm_mq/pyproject.toml
  network/changelog.d/16547.added
  network/pyproject.toml
  process/changelog.d/16547.added
  process/pyproject.toml
  system_core/changelog.d/16547.added
  system_core/pyproject.toml
  system_swap/changelog.d/16547.added
  system_swap/pyproject.toml
Due: trigger-agent-build

Allow bumping the version `psutil` (#16548)
  ddev/changelog.d/16548.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Allow bumping the version `pyvmomi` (#16553)
  ddev/changelog.d/16553.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Allow bumping the version of `pymsql` (#16556)
  ddev/changelog.d/16556.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Bump `service-identity` version to 23.1.0 (#16558)
  LICENSE-3rdparty.csv
  datadog_checks_base/changelog.d/16558.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  tls/changelog.d/16558.added
  tls/pyproject.toml
  tls/tests/compose/Dockerfile
Due: trigger-agent-build

Allow bumping the version of `service-identity` (#16559)
  ddev/changelog.d/16559.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Bump `pycryptodomex` version to 3.19.1 (#16560)
  datadog_checks_base/changelog.d/16560.added
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/changelog.d/16560.added
  snmp/pyproject.toml
Due: trigger-agent-build

Allow bumping the version of `pycryptodomex` (#16562)
  ddev/changelog.d/16562.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Allow bumping the version of `pyodbc` (#16578)
  ddev/changelog.d/16578.fixed
  ddev/src/ddev/cli/dep.py
Due: none

Bump `protobuf` version to 4.25.1
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/pyproject.toml
Due: none

split into two files
  datadog_checks_base/datadog_checks/base/utils/prometheus/functions.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2_py2.py
  datadog_checks_base/datadog_checks/base/utils/prometheus/metrics_pb2_py3.py
Due: none

changelog
  datadog_checks_base/changelog.d/16573.added
Due: none

Path conditions:
  trigger-agent-build: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  reminder-image-builder: any of: .gitlab/reminder/**/*, .gitlab-ci.yaml
  tagger-image-builder: any of: .gitlab/tagger/**/*, datadog_checks_dev/**/*, .gitlab-ci.yaml
  validate-log-intgs-builder: any of: .gitlab/validate-logs-intgs/**/*, .gitlab-ci.yaml
  validate-agent-build-builder: any of: .gitlab/validate-agent-build/**/*, .gitlab-ci.yaml
