Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagger-image-builder, build-agent-auto

Path conditions:
  tagger-image-builder: any of: .gitlab/tagger/**/*, ddev/**/*, .gitlab-ci.yml
  build-agent-auto: any of: .deps/*, .gitlab/build_agent.yaml

update minimally supported macOS version
  .github/workflows/resolve-build-deps.yaml
Due: none

Revert "Update dependencies (#22837)" (#22859)
  LICENSE-3rdparty.csv
  agent_requirements.in
  amazon_msk/changelog.d/22837.added
  amazon_msk/pyproject.toml
  clickhouse/changelog.d/22837.added
  clickhouse/pyproject.toml
  datadog_checks_base/changelog.d/22837.added
  datadog_checks_base/pyproject.toml
  kafka_actions/changelog.d/22837.added
  kafka_actions/pyproject.toml
  kafka_consumer/changelog.d/22837.added
  kafka_consumer/pyproject.toml
  mongo/changelog.d/22837.added
  mongo/pyproject.toml
  mysql/changelog.d/22837.added
  mysql/pyproject.toml
  postgres/changelog.d/22837.added
  postgres/pyproject.toml
  redisdb/changelog.d/22837.added
  redisdb/pyproject.toml
  riakcs/changelog.d/22837.added
  riakcs/pyproject.toml
  snowflake/changelog.d/22837.added
  snowflake/pyproject.toml
Due: none

Fix blocking subprocess in async run_command and harden BaseTool error handling
  ddev/src/ddev/ai/tools/base.py
  ddev/src/ddev/ai/tools/cmd.py
Due: tagger-image-builder

Remove readme reference from pyproject
  prefect/pyproject.toml
Due: none

Add dataflow definitions for database-monitoring-agent (#22872)
  mongo/assets/dataflows.yaml
  mysql/assets/dataflows.yaml
  oracle/assets/dataflows.yaml
  postgres/assets/dataflows.yaml
  sqlserver/assets/dataflows.yaml
Due: none

made BaseTool generic on TInput and moved allowed_tool_callers logic to registry
  ddev/src/ddev/ai/tools/base.py
  ddev/src/ddev/ai/tools/cmd.py
  ddev/src/ddev/ai/tools/grep.py
  ddev/src/ddev/ai/tools/list_files.py
  ddev/src/ddev/ai/tools/mkdir.py
  ddev/src/ddev/ai/tools/read_file.py
  ddev/src/ddev/ai/tools/registry.py
Due: tagger-image-builder

extract only needed data
  ddev/src/ddev/utils/github_async.py
Due: tagger-image-builder

separated ToolProtocol from base and changed __init__
  ddev/src/ddev/ai/tools/__init__.py
  ddev/src/ddev/ai/tools/base.py
  ddev/src/ddev/ai/tools/protocol.py
  ddev/src/ddev/ai/tools/registry.py
Due: tagger-image-builder

Update dependency resolution
  .deps/metadata.json
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
Due: build-agent-auto

update minimally supported macOS version (#22898)
  .github/workflows/resolve-build-deps.yaml
Due: none

changed truncation API and allowed specific timeout for each tool
  ddev/src/ddev/ai/tools/cmd.py
  ddev/src/ddev/ai/tools/grep.py
  ddev/src/ddev/ai/tools/list_files.py
  ddev/src/ddev/ai/tools/mkdir.py
  ddev/src/ddev/ai/tools/read_file.py
  ddev/src/ddev/ai/tools/truncation.py
Due: tagger-image-builder

Mark test_collector_submit_payload as flaky
  mongo/tests/test_unit.py
Due: none

solved some minor bugs
  ddev/src/ddev/ai/tools/base.py
  ddev/src/ddev/ai/tools/registry.py
  ddev/src/ddev/ai/tools/truncation.py
Due: tagger-image-builder

OCSF pipeline for haproxy (#22729)
  haproxy/assets/logs/haproxy.yaml
  haproxy/assets/logs/haproxy_tests.yaml
Due: none

Mark test_collector_submit_payload as flaky (#22900)
  mongo/tests/test_unit.py
Due: none

Add Schema Registry support to kafka_actions check (#22867)
  kafka_actions/assets/configuration/spec.yaml
  kafka_actions/changelog.d/22867.added
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/defaults.py
  kafka_actions/datadog_checks/kafka_actions/config_models/instance.py
  kafka_actions/datadog_checks/kafka_actions/data/conf.yaml.example
  kafka_actions/datadog_checks/kafka_actions/message_deserializer.py
  kafka_actions/datadog_checks/kafka_actions/schema_registry.py
  kafka_actions/tests/test_message_deserializer.py
Due: none

fix lint
  ddev/src/ddev/utils/github_async.py
Due: tagger-image-builder

Revert readme removal
  prefect/README.md
  prefect/pyproject.toml
Due: none

chore: migrate release tagger from SSH deploy key to dd-octo-sts
  .github/chainguard/self.gitlab.release.branches.sts.yaml
  .gitlab-ci.yml
  .gitlab/tagger/Dockerfile
  .gitlab/tagger/tag-release.sh
Due: tagger-image-builder

Fix service check and metrics for stopped volumes (#22486)
  glusterfs/changelog.d/22486.fixed
  glusterfs/datadog_checks/glusterfs/check.py
Due: none

fix: suppress xtrace in EXIT trap to avoid leaking GitHub token in logs
  .gitlab/tagger/tag-release.sh
Due: tagger-image-builder

[kafka_actions] Port full authentication support from kafka_consumer
  kafka_actions/assets/configuration/spec.yaml
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/defaults.py
  kafka_actions/datadog_checks/kafka_actions/config_models/instance.py
  kafka_actions/datadog_checks/kafka_actions/data/conf.yaml.example
  kafka_actions/datadog_checks/kafka_actions/kafka_client.py
Due: none

Add changelog entry for kafka_actions auth parity
  kafka_actions/changelog.d/22818.added
Due: none

[kafka_actions] Fix message_timestamp using current time instead of Kafka message timestamp (#22895)
  kafka_actions/changelog.d/22895.fixed
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/tests/test_unit.py
Due: none

Merge tests and implementation into single files
  prefect/datadog_checks/prefect/check.py
  prefect/datadog_checks/prefect/event.py
  prefect/datadog_checks/prefect/filter_metrics.py
  prefect/datadog_checks/prefect/utils.py
  prefect/tests/fixtures/e2e_metric_tags.py
  prefect/tests/fixtures/metrics.py
  prefect/tests/test_e2e.py
  prefect/tests/test_integration.py
  prefect/tests/test_unit.py
Due: none

Trim trailing spaces from ocsf.process.cmd_line
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
  linux_audit_logs/assets/logs/linux-audit-logs_tests.yaml
Due: none

Fix grok nested quantifier in cmd_line trim rule
  linux_audit_logs/assets/logs/linux-audit-logs.yaml
Due: none

Update checkpointing logic
  clickhouse/datadog_checks/clickhouse/query_log_job.py
  clickhouse/datadog_checks/clickhouse/statements.py
Due: none

Align kafka_actions auth architecture with kafka_consumer
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/kafka_client.py
Due: none

Align kafka_actions spec.yaml documentation with kafka_consumer
  kafka_actions/assets/configuration/spec.yaml
  kafka_actions/datadog_checks/kafka_actions/data/conf.yaml.example
Due: none

Support legacy ssl_* field names in kafka_actions config
  kafka_actions/datadog_checks/kafka_actions/config.py
Due: none

[MOPU-288] Fix monitor schema: remove null template_variables, priority, and restricted_roles fields
  nginx/assets/monitors/conn_dropped.json
  nginx/assets/monitors/upstream_health_check_failures.json
  nginx/assets/monitors/upstream_latency.json
  nginx/assets/monitors/worker_crashes.json
Due: none

use extendtabs to measure white space
  .builders/scripts/build_wheels.py
Due: none

exclude histogram from testing
  control_m/metadata.csv
  control_m/tests/test_unit.py
Due: none

import
  control_m/tests/test_unit.py
Due: none

[kafka_actions] Port full authentication support from kafka_consumer (#22818)
  kafka_actions/assets/configuration/spec.yaml
  kafka_actions/changelog.d/22818.added
  kafka_actions/datadog_checks/kafka_actions/check.py
  kafka_actions/datadog_checks/kafka_actions/config.py
  kafka_actions/datadog_checks/kafka_actions/config_models/defaults.py
  kafka_actions/datadog_checks/kafka_actions/config_models/instance.py
  kafka_actions/datadog_checks/kafka_actions/data/conf.yaml.example
  kafka_actions/datadog_checks/kafka_actions/kafka_client.py
Due: none

Document limitation when converting histogram metrics to distribution
  openmetrics/README.md
Due: none
