Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagger-image-builder, build-agent-auto

tagger-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:24.0.4-gbi-focal
  script:
  - docker buildx build --tag $TAGGER_IMAGE -f .gitlab/tagger/Dockerfile . --push
  tags:
  - arch:amd64

build-agent-auto:
  variables:
    RELEASE_VERSION_6: nightly
    RELEASE_VERSION_7: nightly-a7
    BUCKET_BRANCH: dev
    DEPLOY_AGENT: 'false'
    INTEGRATIONS_CORE_VERSION: ${CI_COMMIT_REF_NAME}
    RUN_E2E_TESTS: 'on'
    RUN_KITCHEN_TESTS: 'false'
  stage: build
  trigger:
    project: DataDog/datadog-agent
    branch: 7.73.x
  ...

Make a worker-thread submission reach the event bus
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/task_pull_request_updater.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
Due: tagger-image-builder

Wire the Dispatcher together and give it an entry point
  .gitignore
  ddev/src/ddev/cli/ci/__init__.py
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/batching/AGENTS.md
  ddev/src/ddev/cli/ci/tests/batching/targets.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/dispatcher_config.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/src/ddev/utils/github.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/batching/test_targets.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
Due: tagger-image-builder

Apply review findings to the Dispatcher entry point
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/dispatcher_config.py
  ddev/src/ddev/cli/ci/tests/task_pull_request_updater.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/src/ddev/cli/release/port_commit_workflow.py
  ddev/src/ddev/utils/github.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/helpers.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
Due: tagger-image-builder

Say what the final report guarantees, and test --context through the CLI
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/task_pull_request_updater.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

Document DispatcherConfig fields as attribute docstrings
  ddev/src/ddev/cli/ci/tests/dispatcher_config.py
Due: tagger-image-builder

Add redisdb full-coverage evalya fixture (#24917)
  redisdb/tests/README.md
  redisdb/tests/activity-gen.sh
  redisdb/tests/compose/full-coverage.compose
  redisdb/tests/evalya.yaml
  redisdb/tests/proxy/Dockerfile
  redisdb/tests/proxy/cluster_info.txt
  redisdb/tests/proxy/go.mod
  redisdb/tests/proxy/inject.conf
  redisdb/tests/proxy/inject.go
  redisdb/tests/proxy/main.go
  redisdb/tests/proxy/proxy_test.go
  redisdb/tests/proxy/resp.go
Due: none

Remove explanatory comments from PR-introduced code
  .github/workflows/measure-disk-usage.yml
  ddev/src/ddev/cli/size/diff.py
  ddev/src/ddev/cli/size/utils/common_funcs.py
  ddev/tests/cli/size/test_diff.py
  ddev/tests/size/test_common.py
Due: tagger-image-builder

Make a worker-thread submission reach the event bus (#24962)
  ddev/changelog.d/24962.fixed
  ddev/src/ddev/event_bus/exceptions.py
  ddev/src/ddev/event_bus/orchestrator.py
  ddev/tests/cli/ci/tests/helpers.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
  ddev/tests/event_bus/test_event_bus.py
Due: tagger-image-builder

Remove redundant master fetch in measure-disk-usage.yml
  .github/workflows/measure-disk-usage.yml
Due: none

Repoint release dispatch to ddoghq/agent-integration-wheels-release
  .github/workflows/release-dispatch.yml
  .github/workflows/scripts/_release/__init__.py
Due: none

Add PostgreSQL views changelog
  postgres/changelog.d/24972.added
Due: none

Finalize Agent release 7.82.3
  AGENT_CHANGELOG.md
  AGENT_INTEGRATIONS.md
Due: none

Gate PostgreSQL views on count telemetry support
  postgres/datadog_checks/postgres/metadata.py
  postgres/tests/test_metadata.py
  postgres/tests/test_unit.py
Due: none

Validate every option before the run does any work
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

vault: match Vault Enterprise's Docker image in autodiscovery
  vault/assets/configuration/spec.yaml
  vault/datadog_checks/vault/data/auto_conf.yaml
Due: none

cleanup
  strimzi/tests/conftest.py
Due: none

weaviate: add container-based config discovery support (#24519)
  weaviate/assets/configuration/spec.yaml
  weaviate/changelog.d/24519.added
  weaviate/datadog_checks/weaviate/config_models/discovery.py
  weaviate/datadog_checks/weaviate/config_models/discovery_overrides.py
  weaviate/datadog_checks/weaviate/config_models/discovery_strategies.py
  weaviate/datadog_checks/weaviate/data/auto_conf.yaml
  weaviate/pyproject.toml
  weaviate/tests/conftest.py
  weaviate/tests/test_e2e.py
Due: none

intersystems_iris: drop stray changelog placeholder
  intersystems_iris/changelog.d/1.added
Due: none

Port the 7.83.x cryptography CVE release to master
  cisco_aci/CHANGELOG.md
  cisco_aci/datadog_checks/cisco_aci/__about__.py
  datadog_checks_base/CHANGELOG.md
  http_check/CHANGELOG.md
  http_check/datadog_checks/http_check/__about__.py
  mysql/CHANGELOG.md
  mysql/datadog_checks/mysql/__about__.py
  requirements-agent-release.txt
  tls/CHANGELOG.md
  tls/datadog_checks/tls/__about__.py
Due: none

Add a temporary probe for signals reaching ddev on workflow cancellation
  .github/workflows/signal-probe.yml
  ddev/src/ddev/cli/ci/__init__.py
  ddev/src/ddev/cli/ci/signal_probe.py
Due: tagger-image-builder

Trigger the probe on pushes to its own branch
  .github/workflows/signal-probe.yml
Due: none

[DOIO-170] Add MySQL Data Observability job (#24798)
  mysql/README.md
  mysql/assets/configuration/spec.yaml
  mysql/changelog.d/24798.added
  mysql/datadog_checks/mysql/config_models/instance.py
  mysql/datadog_checks/mysql/data/conf.yaml.example
  mysql/datadog_checks/mysql/data_observability.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/tests/test_data_observability.py
  mysql/tests/test_unit.py
Due: none

Fix broken link
  redisdb/README.md
Due: none

Drop the 24817 fragments that the 7.83.x release already published
  cisco_aci/changelog.d/24817.added
  http_check/changelog.d/24817.added
  tls/changelog.d/24817.added
Due: none

Move SQL Server onto the DatabaseCheck job registry and cancellation lifecycle
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/data_observability.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/metadata.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/pyproject.toml
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_stored_procedures.py
  sqlserver/tests/test_unit.py
Due: none

spark: add container-based config discovery support
  spark/assets/configuration/spec.yaml
  spark/datadog_checks/spark/config_models/discovery.py
  spark/datadog_checks/spark/config_models/discovery_overrides.py
  spark/datadog_checks/spark/config_models/discovery_strategies.py
  spark/datadog_checks/spark/data/auto_conf.yaml
  spark/hatch.toml
  spark/pyproject.toml
  spark/tests/common.py
  spark/tests/conftest.py
  spark/tests/kind/spark-tests.yaml
  spark/tests/test_e2e.py
Due: none

Add changelog entry for #24976
  spark/changelog.d/24976.added
Due: none

Skip docker integration tests in k8s mode
  spark/tests/test_spark.py
Due: none

Add the InterSystems IRIS monitor assets
  .ddev/config.toml
  intersystems_iris/assets/monitors/instance_alert.json
  intersystems_iris/assets/monitors/license_pressure.json
  intersystems_iris/assets/monitors/mirror_or_ecp_degraded.json
  intersystems_iris/assets/monitors/queue_backlog.json
  intersystems_iris/assets/monitors/resource_or_cache_pressure.json
  intersystems_iris/assets/monitors/service_stalled.json
  intersystems_iris/metadata.csv
Due: none

Bump ddtrace to 4.12.2 (CVE-2026-50271 W3C baggage header DoS) (#24864)
  .builders/deps/build_dependencies.txt
  .builders/images/macos/extra_build.sh
  .builders/scripts/repair_wheels.py
  .builders/tests/test_repair_wheels.py
  .ddev/config.toml
  .deps/builder_inputs.toml
  .deps/image_digests.json
  .deps/resolved/linux-aarch64_3.13.txt
  .deps/resolved/linux-x86_64_3.13.txt
  .deps/resolved/macos-aarch64_3.13.txt
  .deps/resolved/macos-x86_64_3.13.txt
  .deps/resolved/windows-x86_64_3.13.txt
  agent_requirements.in
  datadog_checks_base/changelog.d/24864.security
  datadog_checks_base/pyproject.toml
Due: build-agent-auto

SQL Server: recover DBM<>APM correlation comment for non-procedure statements (#24899)
  sqlserver/changelog.d/24899.fixed
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/utils.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_unit.py
Due: none

Fix the dashboard comparator and the monitor definition tags
  intersystems_iris/assets/dashboards/iris_overview.json
  intersystems_iris/assets/monitors/instance_alert.json
  intersystems_iris/assets/monitors/license_pressure.json
  intersystems_iris/assets/monitors/mirror_or_ecp_degraded.json
  intersystems_iris/assets/monitors/queue_backlog.json
  intersystems_iris/assets/monitors/resource_or_cache_pressure.json
  intersystems_iris/assets/monitors/service_stalled.json
Due: none

[Backport] Bump ddtrace to 4.12.2 (CVE-2026-50271 W3C baggage header DoS)
  .builders/deps/build_dependencies.txt
  .builders/images/macos/extra_build.sh
  .builders/scripts/repair_wheels.py
  .builders/tests/test_repair_wheels.py
  .ddev/config.toml
  agent_requirements.in
  datadog_checks_base/changelog.d/24864.security
  datadog_checks_base/pyproject.toml
Due: none

[CONTP-2014] Add `instrumentation_controller.*` metrics to default cluster agent integration (#24966)
  datadog_cluster_agent/changelog.d/24966.added
  datadog_cluster_agent/datadog_checks/datadog_cluster_agent/check.py
  datadog_cluster_agent/metadata.csv
  datadog_cluster_agent/tests/fixtures/metrics.txt
  datadog_cluster_agent/tests/test_datadog_cluster_agent.py
Due: none

Implement the Dispatcher and its ddev cli command (#24935)
  .gitignore
  ddev/changelog.d/24935.added
  ddev/src/ddev/cli/ci/__init__.py
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/batching/AGENTS.md
  ddev/src/ddev/cli/ci/tests/batching/targets.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/ci/tests/dispatcher_config.py
  ddev/src/ddev/cli/ci/tests/task_run_reporter.py
  ddev/src/ddev/cli/ci/tests/task_test_gatherer.py
  ddev/src/ddev/cli/release/port_commit_workflow.py
  ddev/src/ddev/utils/github.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/batching/test_targets.py
  ddev/tests/cli/ci/tests/helpers.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
  ddev/tests/cli/ci/tests/test_task_test_gatherer.py
Due: tagger-image-builder

Route data observability through the shared cancel check and add the changelog entry
  sqlserver/changelog.d/24985.fixed
  sqlserver/datadog_checks/sqlserver/data_observability.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/tests/test_data_observability.py
Due: none

Update self.gitlab.release.branches.sts.yaml
  .github/chainguard/self.gitlab.release.branches.sts.yaml
Due: none

Update self.gitlab.release.branches.sts.yaml (#24986)
  .github/chainguard/self.gitlab.release.branches.sts.yaml
Due: none

vault: remove redundant discovery candidate test
  vault/tests/test_discovery.py
Due: none

vault: remove dead-code guard in assert_collection
  vault/tests/utils.py
Due: none

Path conditions:
  tagger-image-builder: any of: .gitlab/tagger/**/*, ddev/**/*, .gitlab-ci.yml
  build-agent-auto: any of: .deps/*, .gitlab/build_agent.yaml
