Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagger-image-builder, build-agent-auto

tagger-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:24.0.4-gbi-focal
  script:
  - docker buildx build --tag $TAGGER_IMAGE -f .gitlab/tagger/Dockerfile . --push
  tags:
  - arch:amd64

build-agent-auto:
  variables:
    RELEASE_VERSION_6: nightly
    RELEASE_VERSION_7: nightly-a7
    BUCKET_BRANCH: dev
    DEPLOY_AGENT: 'false'
    INTEGRATIONS_CORE_VERSION: ${CI_COMMIT_REF_NAME}
    RUN_E2E_TESTS: 'on'
    RUN_KITCHEN_TESTS: 'false'
  stage: build
  trigger:
    project: DataDog/datadog-agent
    branch: 7.73.x
  ...

[AI-7124] Let the event bus own the shutdown signals (#25088)
  ddev/changelog.d/25088.added
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/cli/validate/all/orchestrator.py
  ddev/src/ddev/event_bus/orchestrator.py
  ddev/tests/cli/validate/all/test_orchestrator.py
  ddev/tests/event_bus/test_event_bus.py
Due: tagger-image-builder

AI-7126 Send a batch's job list as gzip and base64
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Due: tagger-image-builder

Add changelog entry
  ddev/changelog.d/25096.fixed
Due: tagger-image-builder

openmetrics: omit return annotation on new test per repo convention
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
Due: none

Skip the OpenMetrics metric-limit issue test on old base packages
  openmetrics/tests/test_metric_limit_issue.py
Due: none

Pass commit hash for integrations core pin to agent build
  .gitlab/build_agent.yaml
Due: build-agent-auto

Pass commit hash for integrations core pin to agent build (#25098)
  .gitlab/build_agent.yaml
Due: build-agent-auto

Refuse a per_page outside GitHub's accepted range in the async client
  ddev/src/ddev/utils/github_async/AGENTS.md
  ddev/src/ddev/utils/github_async/__init__.py
  ddev/src/ddev/utils/github_async/client.py
  ddev/tests/utils/github_async/test_endpoints.py
Due: tagger-image-builder

Add changelog entry
  ddev/changelog.d/25100.fixed
Due: tagger-image-builder

AI-7138 Add pull request file and commit pull endpoints to the async GitHub client (#25082)
  ddev/changelog.d/25082.added
  ddev/src/ddev/utils/github_async/client.py
  ddev/src/ddev/utils/github_async/models/__init__.py
  ddev/src/ddev/utils/github_async/models/pull_request.py
  ddev/tests/helpers/github_async.py
  ddev/tests/test_fake_github_async.py
  ddev/tests/utils/github_async/helpers.py
  ddev/tests/utils/github_async/payloads.py
  ddev/tests/utils/github_async/test_endpoints.py
Due: tagger-image-builder

Drop the test that asserted how the workflow decodes the job list
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Due: tagger-image-builder

Refuse the oversized batch through the processor, not the builder
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Due: tagger-image-builder

Validate per_page against GitHub's maximum in the async client (#25100)
  ddev/changelog.d/25100.fixed
  ddev/src/ddev/utils/github_async/AGENTS.md
  ddev/src/ddev/utils/github_async/__init__.py
  ddev/src/ddev/utils/github_async/client.py
  ddev/tests/utils/github_async/test_endpoints.py
Due: tagger-image-builder

Add changelog entry
  ddev/changelog.d/25095.fixed
Due: tagger-image-builder

Replace --context with free-form --tags
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
Due: tagger-image-builder

Keep --context as the run's monitoring label
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

AI-7139 Resolve a pull request's changed files through the GitHub API
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/changes.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/test_changes.py
Due: tagger-image-builder

Trim comments that restate the code or the discussion
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/changes.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/test_changes.py
Due: tagger-image-builder

AI-7126 Send a batch's job list as gzip and base64 (#25096)
  ddev/changelog.d/25096.fixed
  ddev/src/ddev/cli/ci/tests/task_test_runner.py
  ddev/tests/cli/ci/tests/test_task_test_runner.py
Due: tagger-image-builder

Require the resolved pull request to still be headed by the tested commit
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

Treat a head that moves mid-resolution as nothing to test
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

Move the metric limit tests into datadog_checks_base
  cilium/tests/test_unit.py
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
  openmetrics/tests/test_metric_limit_issue.py
Due: none

Reconcile redisdb metadata.csv with submitted metrics (#25060)
  redisdb/metadata.csv
Due: none

zk: add container-based config discovery support (#24477)
  datadog_checks_dev/changelog.d/24477.added
  datadog_checks_dev/datadog_checks/dev/tooling/configuration/discovery/core_strategies.py
  datadog_checks_dev/tests/tooling/configuration/consumers/model/test_discovery.py
  datadog_checks_dev/tests/tooling/configuration/test_load.py
  zk/assets/configuration/spec.yaml
  zk/changelog.d/24477.added
  zk/datadog_checks/zk/config_models/discovery.py
  zk/datadog_checks/zk/config_models/discovery_overrides.py
  zk/datadog_checks/zk/config_models/discovery_strategies.py
  zk/datadog_checks/zk/data/auto_conf.yaml
  zk/pyproject.toml
  zk/tests/common.py
  zk/tests/conftest.py
  zk/tests/test_e2e.py
Due: none

test(rabbitmq): add rabbitmq-full evalya metric-coverage fixture
  rabbitmq/tests/README.md
  rabbitmq/tests/activity-gen.py
  rabbitmq/tests/compose/config/rabbitmq.conf
  rabbitmq/tests/compose/full-coverage.compose
  rabbitmq/tests/evalya.yaml
Due: none

Report a diff git cannot parse as a change resolution failure
  ddev/src/ddev/cli/ci/tests/changes.py
  ddev/tests/cli/ci/tests/test_changes.py
Due: tagger-image-builder

Refuse a malformed dispatch-tests invocation with a usage error
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

Model the two pull request schemas GitHub actually returns
  ddev/src/ddev/utils/github_async/client.py
  ddev/src/ddev/utils/github_async/models/__init__.py
  ddev/src/ddev/utils/github_async/models/pull_request.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/release/test_port_commit.py
  ddev/tests/helpers/github_async.py
  ddev/tests/test_fake_github_async.py
  ddev/tests/utils/github_async/helpers.py
  ddev/tests/utils/github_async/payloads.py
  ddev/tests/utils/github_async/test_endpoints.py
Due: tagger-image-builder

Treat a pull request with an empty diff as nothing to test
  ddev/changelog.d/25095.fixed
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/changes.py
  ddev/tests/cli/ci/test_dispatch_tests.py
Due: tagger-image-builder

AI-7139 Resolve a pull request's changed files through the GitHub API (#25095)
  ddev/changelog.d/25095.fixed
  ddev/src/ddev/cli/ci/dispatch_tests.py
  ddev/src/ddev/cli/ci/tests/changes.py
  ddev/src/ddev/cli/ci/tests/dispatcher.py
  ddev/src/ddev/utils/github_async/client.py
  ddev/src/ddev/utils/github_async/models/__init__.py
  ddev/src/ddev/utils/github_async/models/pull_request.py
  ddev/tests/cli/ci/test_dispatch_tests.py
  ddev/tests/cli/ci/tests/test_changes.py
  ddev/tests/cli/ci/tests/test_dispatcher.py
  ddev/tests/cli/release/test_port_commit.py
  ddev/tests/helpers/github_async.py
  ddev/tests/test_fake_github_async.py
  ddev/tests/utils/github_async/helpers.py
  ddev/tests/utils/github_async/payloads.py
  ddev/tests/utils/github_async/test_endpoints.py
Due: tagger-image-builder

Document new DPA autoscaling metrics
  datadog_cluster_agent/metadata.csv
Due: none

remote queries: track the ClickHouse executor in the changelog
  clickhouse/changelog.d/23499.added
Due: none

Add missing account_id config field to RingCentral tile
  ringcentral/assets/account_config.json
Due: none

Remove ~ fallback wording from account_id help text
  ringcentral/assets/account_config.json
Due: none

Fix Requests adapter return typing
  datadog_checks_base/datadog_checks/base/utils/requests_adapter.py
Due: none

Preserve scraper header negotiation behavior
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/stubs/http.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  openmetrics/tests/test_openmetrics.py
Due: none

move secrets to vars
  .github/workflows/slapr.yml
Due: none

Apply suggestion from @sarah-witt
  .github/workflows/slapr.yml
Due: none

[Release] Bumped datadog_checks_base version to 38.3.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/25048.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: none

Path conditions:
  tagger-image-builder: any of: .gitlab/tagger/**/*, ddev/**/*, .gitlab-ci.yml
  build-agent-auto: any of: .deps/*, .gitlab/build_agent.yaml
