Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: trigger-agent-build, reminder-image-builder, tagger-image-builder, validate-log-intgs-builder, validate-agent-build-builder

trigger-agent-build:
  stage: trigger
  image: $VALIDATE_AGENT_BUILD
  cache:
    key: integrations-core-slack-cache
    paths:
    - .slack-cache
    policy: pull-push
  script:
  - export SLACK_CACHE_DIR="${PWD}/.slack-cache"
  ...

reminder-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - docker build --tag $REMINDER_IMAGE ./.gitlab/reminder/
  - docker images $REMINDER_IMAGE
  - docker push $REMINDER_IMAGE
  tags:
  - runner:docker

tagger-image-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - docker build --tag $TAGGER_IMAGE -f .gitlab/tagger/Dockerfile ./datadog_checks_dev/
  - docker images $TAGGER_IMAGE
  - docker push $TAGGER_IMAGE
  tags:
  - runner:docker

validate-log-intgs-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - cd .gitlab/validate-logs-intgs/
  - docker build --tag $VALIDATE_LOG_INTGS .
  - docker images $VALIDATE_LOG_INTGS
  - docker push $VALIDATE_LOG_INTGS
  tags:
  - runner:docker

validate-agent-build-builder:
  stage: build
  image: 486234852809.dkr.ecr.us-east-1.amazonaws.com/docker:18.03.1
  script:
  - cd .gitlab/validate-agent-build/
  - git clone https://gitlab-ci-token:${CI_JOB_TOKEN}@gitlab.ddbuild.io/Datadog/devtools.git --depth 1
  - docker build --tag $VALIDATE_AGENT_BUILD .
  ...

update the documentation
  torchserve/README.md
  torchserve/datadog_checks/torchserve/data/conf.yaml.example
Due: none

fix config files
  torchserve/datadog_checks/torchserve/data/conf.yaml.example
Due: none

add test_e2e_core_metadata
  snmp/tests/test_e2e_core_metadata.py
Due: none

add assert_metrics_using_metadata to test_check.py
  snmp/tests/test_check.py
Due: none

add metrics to metadata.csv
  snmp/metadata.csv
Due: none

Finalize monitors; update dashboard query and manifest file
  dcgm/assets/dashboards/dcgm_overview.json
  dcgm/assets/monitors/memory_usage.json
  dcgm/assets/monitors/xid_errors.json
  dcgm/manifest.json
Due: none

revert test_check.py
  snmp/tests/test_check.py
Due: none

Deprecate apiserver_longrunning_gauge in favor of apiserver_longrunning_requests
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_apiserver_metrics/datadog_checks/kube_apiserver_metrics/kube_apiserver_metrics.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_23.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_24.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_25.py
  kube_apiserver_metrics/tests/test_kube_apiserver_metrics_1_26.py
Due: none

Add longrunning_requests metric to the metadata
  kube_apiserver_metrics/metadata.csv
Due: none

allow for different profile and community string
  snmp/tests/common.py
Due: none

update test_e2e_core_vs_python
  snmp/tests/test_e2e_core_vs_python.py
Due: none

lint
  snmp/tests/test_e2e_core.py
Due: none

Test corecheck for extending default profile with same name (#14809)
  snmp/datadog_checks/snmp/snmp.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/fixtures/user_profiles/palo-alto.yaml
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
Due: none

Fix broken widgets after K8s registry change
  kube_apiserver_metrics/README.md
  kube_apiserver_metrics/assets/dashboards/overview.json
  kube_controller_manager/assets/dashboards/overview.json
  kube_scheduler/assets/dashboards/overview.json
Due: none

add assert_metrics_using_metadata to test_e2e_core.py
  snmp/tests/test_e2e_core.py
Due: none

generate 404 errors
  torchserve/tests/tools/generate_traffic.py
Due: none

[Release] Bumped datadog_checks_dev version to 21.0.0
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Due: tagger-image-builder

[Release] Update metadata
  .in-toto/tag.eabca4ac.link
Due: none

delete invalid unit names
  snmp/metadata.csv
Due: none

Generate new certificates
  voltdb/tests/compose/certs/ca.pem
  voltdb/tests/compose/certs/client.pem
  voltdb/tests/compose/certs/voltdb_key.jks
  voltdb/tests/compose/certs/voltdb_trust.jks
Due: none

Add step unit to metadata check
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/metadata.py
Due: tagger-image-builder

Switch from a python boolean to a string integer to enable DD_TELEMETRY_ENABLED (#14760)
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Due: tagger-image-builder

reformat test_profiles.py
  snmp/tests/test_profiles.py
Due: none

[Release] Bumped datadog_checks_dev version to 21.0.0 (#14855)
  .in-toto/tag.c295cf63.link
  datadog_checks_dev/CHANGELOG.md
  datadog_checks_dev/datadog_checks/dev/__about__.py
Due: tagger-image-builder

Remove [cli]
  .gitlab/tagger/Dockerfile
Due: tagger-image-builder

add assert_metrics_using_metadata() to test_e2e_core_vs_python.py
  snmp/tests/test_e2e_core_vs_python.py
Due: none

Remove [cli] (#14861)
  .gitlab/tagger/Dockerfile
Due: tagger-image-builder

Replace datadog-checks-dev with ddev in tagger-image-builder
  .gitlab-ci.yml
Due: none

Replace datadog-checks-dev with ddev in tagger-image-builder (#14863)
  .gitlab-ci.yml
Due: none

add assert_metrics_using_metadata() to test_profile_3com.py
  snmp/tests/test_e2e_core_profiles/test_profile_3com.py
Due: none

updating with tests
  postgres/datadog_checks/postgres/postgres.py
  postgres/tests/test_discovery.py
Due: none

Build ddev in separate image for tagger
  .gitlab/tagger/Dockerfile
Due: tagger-image-builder

Build ddev in separate image for tagger (#14864)
  .gitlab/tagger/Dockerfile
Due: tagger-image-builder

Update gitlab yaml to pass in . instead of./ddev
  .gitlab-ci.yml
Due: none

Fix gitlab .yaml to .yml
  .gitlab-ci.yml
Due: none

revert f5 changes
  snmp/assets/configuration/spec.yaml
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/default_profiles/f5-big-ip.yaml
  snmp/datadog_checks/snmp/data/default_profiles/f5.yaml
  snmp/tests/compose/data/f5-big-ip.snmprec
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_metadata.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_profiles.py
Due: none

Fix validate-logs-intgs dockerfile
  .gitlab/validate-logs-intgs/Dockerfile
Due: validate-log-intgs-builder

Install pip for python3 on alpine
  .gitlab/validate-logs-intgs/Dockerfile
Due: validate-log-intgs-builder

Update awscli
  .gitlab/tagger/Dockerfile
Due: tagger-image-builder

Path conditions:
  trigger-agent-build: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  reminder-image-builder: any of: .gitlab/reminder/**/*, .gitlab-ci.yaml
  tagger-image-builder: any of: .gitlab/tagger/**/*, datadog_checks_dev/**/*, .gitlab-ci.yaml
  validate-log-intgs-builder: any of: .gitlab/validate-logs-intgs/**/*, .gitlab-ci.yaml
  validate-agent-build-builder: any of: .gitlab/validate-agent-build/**/*, .gitlab-ci.yaml
