Repository DataDog/integrations-core: changes, and which GitLab CI jobs are due for each by the changed paths.
All: tagger-image-builder, validate-log-intgs-builder, build-agent-auto

Path conditions:
  tagger-image-builder: any of: .gitlab/tagger/**/*, ddev/**/*, .gitlab-ci.yml
  validate-log-intgs-builder: any of: .gitlab/validate-logs-intgs/**/*, .gitlab-ci.yml
  build-agent-auto: any of: .deps/*, .gitlab/build_agent.yaml

Fix formatting
  ddev/src/ddev/cli/validate/labeler.py
Due: tagger-image-builder

Address review comments
  forescout/README.md
  forescout/assets/dashboards/forescout_nac_policy_logs.json
  forescout/assets/dashboards/forescout_overview.json
  forescout/assets/dashboards/forescout_system_logs_and_events.json
  forescout/assets/dashboards/forescout_threat_protection.json
  forescout/assets/dashboards/forescout_user_operations.json
Due: none

Remove the trend_micro_cloud_one integration from 7.72.x (#21769)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trend_micro_cloud_one/CHANGELOG.md
  trend_micro_cloud_one/README.md
  trend_micro_cloud_one/assets/configuration/spec.yaml
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_anti-malware_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_application_control_and_device_control_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_file_storage_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_firewall_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_integrity_monitoring_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_intrusion_prevention_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_log_inspection_and_web_reputation_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_network_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_system_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_workload_security_insights.json
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one_tests.yaml
  trend_micro_cloud_one/assets/trend_micro_cloud_one.svg
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__about__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__init__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/data/conf.yaml.example
  trend_micro_cloud_one/images/trend_micro_cloud_one_anti_malware_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_application_control_and_device_control_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_file_storage_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_firewall_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_integrity_monitoring_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_log_inspection_and_web_reputation_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_network_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_workload_security_insights.png
  trend_micro_cloud_one/manifest.json
  trend_micro_cloud_one/pyproject.toml
Due: none

Fix validation: Add missing license headers
  couchbase/datadog_checks/couchbase/metrics.py
  couchbase/datadog_checks/couchbase/metrics_generated.py
  couchbase/scripts/__init__.py
  couchbase/scripts/generate_metrics_code.py
Due: none

Fix metadata: Regenerate METRIC_DATA
  couchbase/datadog_checks/couchbase/metrics_generated.py
Due: none

Fix validation: ddev validate models couchbase -s
  couchbase/datadog_checks/couchbase/config_models/defaults.py
  couchbase/datadog_checks/couchbase/config_models/instance.py
Due: none

Update build_agent.yaml to use agent branch: 7.73.x
  .gitlab/build_agent.yaml
Due: build-agent-auto

Fix validation: ddev validate models couchbase -s
  couchbase/datadog_checks/couchbase/config_models/instance.py
Due: none

[Release] Bumped barracuda_secure_edge version to 1.0.0
  barracuda_secure_edge/CHANGELOG.md
  barracuda_secure_edge/changelog.d/20423.added
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__about__.py
  requirements-agent-release.txt
Due: none

[Release] Bumped zscaler_private_access version to 1.0.0
  requirements-agent-release.txt
  zscaler_private_access/CHANGELOG.md
  zscaler_private_access/changelog.d/21228.added
  zscaler_private_access/datadog_checks/zscaler_private_access/__about__.py
Due: none

[Release] Update metadata
  .in-toto/tag.920faa35.link
Due: none

Remove instructions from tags
  prefect/manifest.json
Due: none

Add Kandji integration without assets (#21656)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  kandji/CHANGELOG.md
  kandji/README.md
  kandji/manifest.json
Due: none

Filter workflow runs based on name (#21774)
  ddev/changelog.d/21774.fixed
  ddev/src/ddev/cli/size/utils/common_funcs.py
Due: tagger-image-builder

Add Readme changes
  bitwarden/README.md
Due: none

switch datadog-agent build branch to main
  .gitlab/build_agent.yaml
Due: build-agent-auto

Avoid relying on the manifest to validate 3rd party licenses
  ddev/src/ddev/cli/validate/licenses.py
Due: tagger-image-builder

Add changelog
  ddev/changelog.d/21783.changed
Due: tagger-image-builder

Updated changelog to bump the version
  bitwarden/CHANGELOG.md
Due: none

Allow a fallback when identifying logs to mount when running docker without a manifest file
  datadog_checks_dev/datadog_checks/dev/spec.py
Due: none

Add changelog
  datadog_checks_dev/changelog.d/21784.fixed
Due: none

Updading manifest.json
  kandji/manifest.json
Due: none

Add dashboard image
  hugging_face_tgi/images/hugging_face_tgi_overview.png
  hugging_face_tgi/manifest.json
Due: none

Fix manifest
  hugging_face_tgi/manifest.json
Due: none

Try getting a valid merge base
  .github/workflows/test-target.yml
Due: none

Fix selection since licenses does not need to filter by modified but all integrations
  .github/workflows/test-target.yml
  ddev/src/ddev/cli/validate/licenses.py
  ddev/tests/cli/validate/test_licenses.py
Due: tagger-image-builder

Reduce image size
  hugging_face_tgi/images/hugging_face_tgi_overview.png
Due: none

Revert "Disable the ddtrace strack profiler v2 in CI. (#21637)"
  .github/workflows/test-target.yml
Due: none

Release new integrations or Agent 7.73 (#21781)
  .gitlab/build_agent.yaml
  .in-toto/tag.920faa35.link
  barracuda_secure_edge/CHANGELOG.md
  barracuda_secure_edge/changelog.d/20423.added
  barracuda_secure_edge/datadog_checks/barracuda_secure_edge/__about__.py
  requirements-agent-release.txt
  zscaler_private_access/CHANGELOG.md
  zscaler_private_access/changelog.d/21228.added
  zscaler_private_access/datadog_checks/zscaler_private_access/__about__.py
Due: build-agent-auto

Remove KrankenD manifest file
  krakend/manifest.json
Due: none

Remove Lustre manifest file
  lustre/manifest.json
Due: none

Update unit tests
  windows_service/datadog_checks/windows_service/windows_service.py
  windows_service/tests/test_windows_service.py
Due: none

Revert "Remove the trend_micro_cloud_one integration from 7.72.x (#21769)"
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  trend_micro_cloud_one/CHANGELOG.md
  trend_micro_cloud_one/README.md
  trend_micro_cloud_one/assets/configuration/spec.yaml
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_anti-malware_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_application_control_and_device_control_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_file_storage_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_firewall_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_integrity_monitoring_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_intrusion_prevention_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_log_inspection_and_web_reputation_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_network_security_insights.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_system_events.json
  trend_micro_cloud_one/assets/dashboards/trend_micro_cloud_one_workload_security_insights.json
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one.yaml
  trend_micro_cloud_one/assets/logs/trend-micro-cloud-one_tests.yaml
  trend_micro_cloud_one/assets/trend_micro_cloud_one.svg
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__about__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/__init__.py
  trend_micro_cloud_one/datadog_checks/trend_micro_cloud_one/data/conf.yaml.example
  trend_micro_cloud_one/images/trend_micro_cloud_one_anti_malware_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_application_control_and_device_control_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_file_storage_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_firewall_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_integrity_monitoring_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_log_inspection_and_web_reputation_events.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_network_security_insights.png
  trend_micro_cloud_one/images/trend_micro_cloud_one_workload_security_insights.png
  trend_micro_cloud_one/manifest.json
  trend_micro_cloud_one/pyproject.toml
Due: none

Add display name to config.toml
  .ddev/config.toml
Due: none

Add display name for lustre
  .ddev/config.toml
Due: none

Add docs
  windows_service/README.md
  windows_service/changelog.d/21778.added
  windows_service/metadata.csv
Due: none

[Hugging Face TGI] Add dashboard (#21394)
  hugging_face_tgi/assets/dashboards/hugging_face_tgi_overview.json
  hugging_face_tgi/images/hugging_face_tgi_overview.png
  hugging_face_tgi/manifest.json
Due: none
