Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      ${{ if eq(variables['System.PullRequest.IsFork'], 'False') }}:
        ddtrace_flag: --ddtrace
      validate: false
      validate_codeowners: false
      validate_changed: changed
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

[Release] Update metadata
  .in-toto/tag.eabca4ac.link
Due: .azure-pipelines/changes.yml

nits
  varnish/datadog_checks/varnish/varnish.py
Due: .azure-pipelines/changes.yml

Stop passing tags around
  varnish/datadog_checks/varnish/varnish.py
Due: .azure-pipelines/changes.yml

dont bump foundationdb to 7
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  foundationdb/pyproject.toml
  foundationdb/requirements-dev.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

missing file
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

Update cilium README
  cilium/README.md
Due: .azure-pipelines/changes.yml

Collect and emit failover cluster metrics
  sqlserver/datadog_checks/sqlserver/alwayson.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
Due: .azure-pipelines/changes.yml

Update more deps
  active_directory/pyproject.toml
  aspdotnet/pyproject.toml
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/pyproject.toml
  dotnetclr/pyproject.toml
  exchange_server/pyproject.toml
  gitlab/pyproject.toml
  gitlab_runner/pyproject.toml
  iis/pyproject.toml
  kube_dns/pyproject.toml
  kubernetes_state/pyproject.toml
  openstack_controller/pyproject.toml
  pdh_check/pyproject.toml
  redisdb/pyproject.toml
  snmp/pyproject.toml
  sqlserver/pyproject.toml
  vertica/pyproject.toml
  win32_event_log/pyproject.toml
  windows_service/pyproject.toml
  wmi_check/pyproject.toml
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Clean up code and leave more comments
  cisco_aci/tests/cisco_aci_query.py
Due: .azure-pipelines/changes.yml

Add comment about public sandbox
  cisco_aci/tests/cisco_aci_query.py
Due: .azure-pipelines/changes.yml

Add troubleshooting notes and script (#11846)
  cisco_aci/README.md
  cisco_aci/tests/cisco_aci_query.py
Due: .azure-pipelines/changes.yml

Update cilium README (#11961)
  cilium/README.md
Due: .azure-pipelines/changes.yml

Revert pysnmp bump
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/pyproject.toml
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Fix style
  cisco_aci/tests/cisco_aci_query.py
Due: .azure-pipelines/changes.yml

Fix style (#11962)
  cisco_aci/tests/cisco_aci_query.py
Due: .azure-pipelines/changes.yml

Remove `docker-compose` test dependency
  cisco_aci/tests/README.md
  couch/tests/conftest.py
  datadog_checks_dev/datadog_checks/dev/conditions.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/pyproject.toml
  datadog_checks_dev/tests/test_conditions.py
  datadog_checks_dev/tests/test_docker.py
  etcd/tests/test_integration.py
  fluentd/tests/conftest.py
  kafka_consumer/tox.ini
  marklogic/tests/README.md
  mongo/tests/conftest.py
  pgbouncer/tests/conftest.py
  php_fpm/tests/compose/README.md
  rabbitmq/tests/conftest.py
  redisdb/tests/README.md
  redisdb/tests/conftest.py
  sqlserver/tests/compose-ha/sql/entrypoint.sh
  tokumx/tests/conftest.py
  twemproxy/tests/conftest.py
Due: .azure-pipelines/changes.yml

fix
  datadog_checks_dev/datadog_checks/dev/docker.py
Due: none

upgrade docker compose
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
Due: .azure-pipelines/changes.yml

Update docker.py
  datadog_checks_dev/datadog_checks/dev/docker.py
Due: none

haproxy
  haproxy/tests/conftest.py
Due: .azure-pipelines/changes.yml

Update Dockerfile
  twemproxy/tests/compose/Dockerfile
Due: .azure-pipelines/changes.yml

try
  azure_iot_edge/tests/conftest.py
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tests/conftest.py
Due: .azure-pipelines/changes.yml

.
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

try
  datadog_checks_dev/datadog_checks/dev/docker.py
Due: none

fixes
  cassandra/tests/compose/docker-compose.yml
  cassandra/tests/conftest.py
  haproxy/tests/conftest.py
  pgbouncer/tests/conftest.py
  sonarqube/tests/docker/docker-compose.yaml
  twemproxy/tests/conftest.py
  twemproxy/tox.ini
Due: .azure-pipelines/changes.yml

Don't bump pycryptodomex
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/pyproject.toml
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Revert pyasn1 bump
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  snmp/pyproject.toml
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.
  azure_iot_edge/tests/conftest.py
  azure_iot_edge/tox.ini
  cassandra_nodetool/tests/compose/docker-compose.yaml
  cassandra_nodetool/tox.ini
  datadog_checks_base/tox.ini
  datadog_checks_dev/datadog_checks/dev/conditions.py
  datadog_checks_dev/datadog_checks/dev/docker.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
  datadog_checks_dev/datadog_checks/dev/utils.py
Due: .azure-pipelines/changes.yml

oop
  datadog_checks_dev/datadog_checks/dev/tooling/commands/ci/setup.py
Due: .azure-pipelines/changes.yml

.
  datadog_checks_dev/datadog_checks/dev/docker.py
  envoy/tox.ini
  gitlab_runner/tox.ini
  ibm_was/tox.ini
  istio/tox.ini
  sonarqube/tests/docker/docker-compose.yaml
  sonarqube/tox.ini
  tls/tox.ini
  twemproxy/tox.ini
Due: .azure-pipelines/changes.yml

.
  redisdb/tox.ini
  twemproxy/tests/conftest.py
Due: .azure-pipelines/changes.yml

.
  twemproxy/tests/conftest.py
Due: .azure-pipelines/changes.yml

.
  clickhouse/tox.ini
  couchbase/tox.ini
Due: .azure-pipelines/changes.yml

Add the ability to exclude endpoint tag (#11956)
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_interface.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add tag_by_endpoint hidden config option
  amazon_msk/datadog_checks/amazon_msk/config_models/defaults.py
  amazon_msk/datadog_checks/amazon_msk/config_models/instance.py
  arangodb/datadog_checks/arangodb/config_models/defaults.py
  arangodb/datadog_checks/arangodb/config_models/instance.py
  avi_vantage/datadog_checks/avi_vantage/config_models/defaults.py
  avi_vantage/datadog_checks/avi_vantage/config_models/instance.py
  calico/datadog_checks/calico/config_models/defaults.py
  calico/datadog_checks/calico/config_models/instance.py
  cilium/datadog_checks/cilium/config_models/defaults.py
  cilium/datadog_checks/cilium/config_models/instance.py
  cockroachdb/datadog_checks/cockroachdb/config_models/defaults.py
  cockroachdb/datadog_checks/cockroachdb/config_models/instance.py
  coredns/datadog_checks/coredns/config_models/defaults.py
  coredns/datadog_checks/coredns/config_models/instance.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
  envoy/datadog_checks/envoy/config_models/defaults.py
  envoy/datadog_checks/envoy/config_models/instance.py
  haproxy/datadog_checks/haproxy/config_models/defaults.py
  haproxy/datadog_checks/haproxy/config_models/instance.py
  ibm_ace/datadog_checks/ibm_ace/config_models/instance.py
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/config_models/instance.py
  kong/datadog_checks/kong/config_models/defaults.py
  kong/datadog_checks/kong/config_models/instance.py
  linkerd/datadog_checks/linkerd/config_models/defaults.py
  linkerd/datadog_checks/linkerd/config_models/instance.py
  openmetrics/datadog_checks/openmetrics/config_models/defaults.py
  openmetrics/datadog_checks/openmetrics/config_models/instance.py
  pulsar/datadog_checks/pulsar/config_models/defaults.py
  pulsar/datadog_checks/pulsar/config_models/instance.py
  vault/datadog_checks/vault/config_models/defaults.py
  vault/datadog_checks/vault/config_models/instance.py
Due: .azure-pipelines/changes.yml

Sync IBM ACE models
  ibm_ace/datadog_checks/ibm_ace/config_models/instance.py
Due: .azure-pipelines/changes.yml

Disable tag by endpoint in autoconf
  istio/assets/configuration/spec.yaml
  istio/datadog_checks/istio/config_models/defaults.py
  istio/datadog_checks/istio/data/auto_conf.yaml
  istio/datadog_checks/istio/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Add display default for easier overrides
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/openmetrics.yaml
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
