Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      validate: true
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

log error rather than print
  datadog_checks_base/datadog_checks/base/utils/http.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Make interface support Python 2
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/models/config_models/__init__.py
  datadog_checks_base/tests/models/config_models/api.py
  datadog_checks_base/tests/models/config_models/compat.py
  datadog_checks_base/tests/models/test_compat.py
  datadog_checks_base/tests/models/test_interface.py
  datadog_checks_dev/datadog_checks/dev/tooling/specs/configuration/consumers/model.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

changed
  datadog_checks_base/datadog_checks/checks/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

BUG FIX [juniper ex profile] Now use correct sysObjectIds (jnxProductName children)
  snmp/datadog_checks/snmp/data/profiles/juniper-ex.yaml
  snmp/tests/compose/data/juniper-ex.snmprec
Due: .azure-pipelines/changes.yml

Add elastic monitors
  elastic/assets/monitors/elastic_pending_tasks_high.json
  elastic/assets/monitors/elastic_query_latency_high.json
  elastic/assets/monitors/elastic_query_load_high.json
  elastic/assets/monitors/elastic_requests.json
  elastic/manifest.json
Due: .azure-pipelines/changes.yml

Update service_checks.json
  systemd/assets/service_checks.json
Due: .azure-pipelines/changes.yml

Update systemd/assets/service_checks.json
  systemd/assets/service_checks.json
Due: .azure-pipelines/changes.yml

Do not run e2e tests on windows
  .azure-pipelines/templates/test-all.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Avoid mounting volume if there is no config (#8722)
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Due: .azure-pipelines/changes.yml

master e2e (#8731)
  .azure-pipelines/templates/test-all.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Move os requirement functions to datadog_checks_tests_helper
  datadog_checks_base/tests/test_pdhbasecheck.py
  datadog_checks_base/tests/test_winpdh.py
  datadog_checks_base/tests/test_wmicheck.py
  datadog_checks_base/tests/test_wmisampler.py
  datadog_checks_base/tests/utils.py
  datadog_checks_tests_helper/datadog_test_libs/requirements.py
  disk/tests/test_filter.py
  disk/tests/utils.py
  pdh_check/tests/test_pdh_check.py
Due: .azure-pipelines/changes.yml

Add additional supported sysoid for EX, MX and SRX series
  snmp/datadog_checks/snmp/data/profiles/juniper-ex.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-mx.yaml
  snmp/datadog_checks/snmp/data/profiles/juniper-srx.yaml
Due: .azure-pipelines/changes.yml

Add windows note on pdh builds
  .azure-pipelines/templates/test-all-checks.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Add systemd.unit.substate as an integration service check. (#8730)
  systemd/assets/service_checks.json
Due: .azure-pipelines/changes.yml

Upgrade pyyaml python package (#8707)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  datadog_checks_base/tests/test_ddyaml.py
  datadog_checks_dev/setup.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Wait for index
  couch/tests/conftest.py
Due: .azure-pipelines/changes.yml

Check if integrations are logs only (#8699)
  datadog_checks_dev/datadog_checks/dev/tooling/utils.py
  datadog_checks_dev/tests/tooling/test_utils.py
  docs/developer/.scripts/33_render_status.py
Due: .azure-pipelines/changes.yml

Check for more logs in ZK SSL startup (#8702)
  zk/tests/conftest.py
Due: .azure-pipelines/changes.yml

Add OS note in the right place
  .azure-pipelines/templates/test-all-checks.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Changed
  mysql/datadog_checks/mysql/mysql.py
Due: .azure-pipelines/changes.yml

Fix import
  datadog_checks_base/tests/test_wmisampler.py
Due: .azure-pipelines/changes.yml

Revert "Avoid mounting volume if there is no config (#8722)"
  datadog_checks_dev/datadog_checks/dev/tooling/e2e/docker.py
Due: .azure-pipelines/changes.yml

Fix auto_conf.yaml (#8719)
  snmp/tests/conftest.py
Due: .azure-pipelines/changes.yml

Add loader to snmp config example (#8711)
  snmp/datadog_checks/snmp/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Collect postgres statement samples & execution plans
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/requirements.in
  postgres/tests/compose/resources/01_postgres.sql
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_pg_integration.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

remove accidental spaces
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

comment update
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Format style
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

import json from base
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_pg_integration.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

add config spec
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Use repr
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Update test_serialization.py
  datadog_checks_base/tests/test_serialization.py
Due: .azure-pipelines/changes.yml

Add snmp corecheck e2e tests (#8708)
  snmp/tests/common.py
  snmp/tests/test_e2e_core.py
  snmp/tests/test_e2e_core_vs_python.py
  snmp/tests/test_e2e_python.py
Due: .azure-pipelines/changes.yml

Collect postgres statement samples & execution plans for deep database monitoring (#8627)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/log.py
  datadog_checks_base/datadog_checks/base/stubs/datadog_agent.py
  datadog_checks_base/datadog_checks/base/utils/db/sql.py
  datadog_checks_base/datadog_checks/base/utils/db/statement_samples.py
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/test_serialization.py
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/requirements.in
  postgres/tests/compose/resources/01_postgres.sql
  postgres/tests/compose/resources/02_setup.sh
  postgres/tests/compose/resources/03_load_data.sh
  postgres/tests/test_pg_integration.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Fix e2e on master
  .azure-pipelines/templates/test-all.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Default to true
  .azure-pipelines/templates/test-all.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
