Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks

Stop using TlsContextWrapper in RequestsWrapper
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Run formatter
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add test for ciphers, switch naming to SSL and fix hole in persistent session logic
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Run formatter
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/tls.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Naming
  datadog_checks_base/datadog_checks/base/utils/http.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Naming and test fixes
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add unit test for debugging
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/changes.yml

Fix consul test
  consul/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix consul config assertion
  consul/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fail SSLContext certificate loading with WARNING instead of ERROR
  datadog_checks_base/datadog_checks/base/utils/http.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Lint
  datadog_checks_base/datadog_checks/base/utils/http.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Lint
  ecs_fargate/tests/test_unit.py
  ecs_fargate/tests/test_unit_v4.py
  yarn/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix couchbase tests
  couchbase/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix amazon_msk tests - mocking requests.get because the boto3 lib uses it
  amazon_msk/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix apache tests by reworking mock with requests.Session
  apache/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix arangodb tests by updating mock side effect
  arangodb/tests/test_arangodb.py
Due: .azure-pipelines/changes.yml

Fix couch tests by updating mock with requests.Session
  couch/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix remaining occurrences of mock.patch("datadog_checks.base.utils.http.requests")
  airflow/tests/test_unit.py
  avi_vantage/tests/conftest.py
  druid/tests/test_unit.py
  ecs_fargate/tests/test_unit.py
  envoy/tests/legacy/test_unit.py
  etcd/tests/test_integration.py
  gitlab_runner/tests/test_unit.py
  marathon/tests/test_unit.py
  mesos_master/tests/test_check.py
  mesos_slave/tests/test_unit.py
  nginx/tests/test_unit.py
  php_fpm/tests/test_unit.py
  rabbitmq/tests/test_unit.py
  torchserve/tests/management/test_model_discovery.py
Due: .azure-pipelines/changes.yml

Fix gitlab tests
  gitlab/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix harbor tests
  harbor/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix hdfs_namenode tests
  hdfs_namenode/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix http_check test
  datadog_checks_base/datadog_checks/base/utils/http.py
  http_check/tests/test_http_integration.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Fix mapreduce tests
  mapreduce/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix proxysql test
  proxysql/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix spark tests
  spark/tests/test_spark.py
Due: .azure-pipelines/changes.yml

Fix spark ssl test by fixing REMAPPER
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Due: .azure-pipelines/changes.yml

Fix twistlock tests
  twistlock/tests/test_twistlock.py
Due: .azure-pipelines/changes.yml

Fix vertica tests
  vertica/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix vault tests
  vault/tests/test_vault.py
Due: .azure-pipelines/changes.yml

Fix yarn tests
  yarn/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix avi_vantage test
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/tests/conftest.py
Due: .azure-pipelines/changes.yml

Fix http warning test
  http_check/tests/test_http_integration.py
Due: .azure-pipelines/changes.yml

Extract options to tls_config logic in separate function
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_base/tests/base/utils/test_tls.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add test for ssl_context initialization
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
Due: .azure-pipelines/changes.yml

Run linter
  avi_vantage/datadog_checks/avi_vantage/check.py
  avi_vantage/tests/conftest.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_base/tests/base/utils/test_tls.py
  vsphere/tests/conftest.py
  vsphere/tests/mocked_api.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Fix falco test
  falco/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix `tls_verify` parsing in SSL context creation logic
  datadog_checks_base/datadog_checks/base/utils/http.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Add tests with custom server
  datadog_checks_base/tests/base/utils/http/test_http.py
Due: .azure-pipelines/changes.yml

Fix request method use
  datadog_checks_base/datadog_checks/base/utils/http.py
  vault/tests/test_vault.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml
