Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks

added snmp profile validation to azure validations list
  .azure-pipelines/templates/run-validations.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

worked on error messages
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_profile.py
Due: .azure-pipelines/changes.yml

adding snmp profile json
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/snmp_profile.json
Due: .azure-pipelines/changes.yml

Remove unused prometheus url
  istio/datadog_checks/istio/config_models/instance.py
Due: .azure-pipelines/changes.yml

Update compatibility for V2
  istio/datadog_checks/istio/check.py
  istio/datadog_checks/istio/istio.py
  istio/datadog_checks/istio/metrics.py
Due: .azure-pipelines/changes.yml

Refactor config logic
  istio/datadog_checks/istio/check.py
Due: .azure-pipelines/changes.yml

[Add] Collect all errors + include strategy
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_mysql.py
Due: .azure-pipelines/changes.yml

support username as alternative to user
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  oracle/datadog_checks/oracle/oracle.py
  snowflake/datadog_checks/snowflake/config.py
  supervisord/datadog_checks/supervisord/supervisord.py
Due: .azure-pipelines/changes.yml

Support pass or password
  mysql/datadog_checks/mysql/config.py
  supervisord/datadog_checks/supervisord/supervisord.py
Due: .azure-pipelines/changes.yml

Fix formatting
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Log deprecation
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  datadog_checks_base/datadog_checks/base/checks/base.py
  mysql/datadog_checks/mysql/config.py
  mysql/datadog_checks/mysql/mysql.py
  oracle/datadog_checks/oracle/oracle.py
  snowflake/datadog_checks/snowflake/check.py
  supervisord/datadog_checks/supervisord/supervisord.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Update config files
  clickhouse/assets/configuration/spec.yaml
  clickhouse/datadog_checks/clickhouse/data/conf.yaml.example
  mysql/assets/configuration/spec.yaml
  mysql/datadog_checks/mysql/data/conf.yaml.example
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
  snowflake/assets/configuration/spec.yaml
  snowflake/datadog_checks/snowflake/data/conf.yaml.example
  supervisord/assets/configuration/spec.yaml
  supervisord/datadog_checks/supervisord/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Fix C&P error
  network/metadata.csv
Due: .azure-pipelines/changes.yml

Log an error if no possible url is reachable
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Parametrize test
  dns_check/tests/test_dns_check.py
Due: .azure-pipelines/changes.yml

Do not use instance argument in check method (#9546)
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
  ecs_fargate/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Upgrade `psycopg2` on Python 3
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  postgres/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

[Release] Bumped oracle version to 3.3.1
  oracle/CHANGELOG.md
  oracle/datadog_checks/oracle/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.0244aaa8.link
Due: .azure-pipelines/changes.yml

[Release] Bumped rabbitmq version to 1.18.0
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.31091c85.link
Due: .azure-pipelines/changes.yml

[Release] Bumped rabbitmq version to 1.18.0 (#9591)
  .in-toto/tag.31091c85.link
  rabbitmq/CHANGELOG.md
  rabbitmq/datadog_checks/rabbitmq/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

Apply suggestions from code review
  ecs_fargate/manifest.json
Due: .azure-pipelines/changes.yml

NGINX, MySQL, CoreDNS - Docker, Kubernetes, ECS instructions (#8760)
  coredns/README.md
  mysql/README.md
  nginx/README.md
Due: .azure-pipelines/changes.yml

Update ecs_fargate/manifest.json
  ecs_fargate/manifest.json
Due: .azure-pipelines/changes.yml

[DOCS-825] Live Containers / Live Processes in EKS Fargate (#6358)
  eks_fargate/README.md
Due: .azure-pipelines/changes.yml

after syncing
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

docs - clean up mongodb sharding instructions (#8408)
  mongo/README.md
Due: .azure-pipelines/changes.yml

[docs-861] refreshed fargate updates (#7075)
  ecs_fargate/README.md
  ecs_fargate/manifest.json
  eks_fargate/README.md
  eks_fargate/manifest.json
Due: .azure-pipelines/changes.yml

changes requested
  kube_apiserver_metrics/README.md
Due: .azure-pipelines/changes.yml

added options
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/snmp_profile.json
Due: .azure-pipelines/changes.yml

reflecting changes
  kube_apiserver_metrics/README.md
Due: .azure-pipelines/changes.yml

fix python2 integer division bug in db.util `ConstantRateLimiter`
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/test_db_util.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

updated json for metric schema
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/snmp_profile.json
Due: .azure-pipelines/changes.yml

fix python2 integer division bug in db.util `ConstantRateLimiter` (#9592)
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/test_db_util.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Bumped datadog_checks_base version to 20.0.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Due: .azure-pipelines/changes.yml

fix code style in `test_db_util`
  datadog_checks_base/tests/test_db_util.py
Due: .azure-pipelines/changes.yml

[Update] Misc improvements
  mysql/datadog_checks/mysql/statement_samples.py
Due: .azure-pipelines/changes.yml

redoing win32 pr
  win32_event_log/README.md
  win32_event_log/assets/configuration/spec.yaml
  win32_event_log/datadog_checks/win32_event_log/data/conf.yaml.example
Due: .azure-pipelines/changes.yml
