Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:

schedules:
- cron: "0 5 * * *"
  displayName: Nightly (EDT/EST)
  always: true
  branches:
    include:
    - master

# Re-enable when we have enough runners
# trigger:
#   branches:
#     include:
#     - master

pr:
  branches:
    include:
    - master
  paths:
    include:
    - datadog_checks_base/datadog_checks/*

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-all.yml'

.azure-pipelines/all.yml:

trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master
  paths:
    include:
    - datadog_checks_base/datadog_checks/*
    - .azure-pipelines/*

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-all.yml'
  parameters:
    checks:
    - checkName: datadog_checks_base
      displayName: Datadog Checks Base (Linux)
      os: linux
    - checkName: datadog_checks_base
      displayName: Datadog Checks Base (Windows)
      os: windows
    - checkName: datadog_checks_dev
      displayName: Datadog Checks Dev (Linux)
      os: linux
    - checkName: datadog_checks_dev
      displayName: Datadog Checks Dev (Windows)
      os: windows
    - checkName: apache
      displayName: Apache
      os: linux
    - checkName: aspdotnet
      displayName: ASP.NET
      os: windows
    - checkName: btrfs
      displayName: Btrfs
      os: linux

.azure-pipelines/all_agent7.yml:

pr:
  branches:
    include:
    - master
  paths:
    include:
    - datadog_checks_base/datadog_checks/*
    exclude:
    - datadog_checks_base/datadog_checks/base/data/agent_requirements.in

trigger: none

variables:
  DDEV_COLOR: 1
  DDEV_E2E_AGENT: 7

jobs:
- template: './templates/test-all-checks.yml'

.azure-pipelines/all_pr.yml:

pr:
  branches:
    include:
    - master
    - alex/before_import_issue
  paths:
    include:
    - datadog_checks_base/datadog_checks/*
    exclude:
    - datadog_checks_base/datadog_checks/base/data/agent_requirements.in

trigger: none

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-all-checks.yml'

.azure-pipelines/changes.yml:

trigger: none

pr:
  branches:
    include:
    - master
  paths:
    exclude:
    - datadog_checks_base/datadog_checks/*

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-single-linux.yml'
  parameters:
    job_name: Changed
    display: Linux
    validate: true

- template: './templates/test-single-windows.yml'
  parameters:
    job_name: Changed
    check: '--changed datadog_checks_base datadog_checks_dev active_directory aspdotnet disk dotnetclr exchange_server iis pdh_check sqlserver win32_event_log windows_service wmi_check'
    display: Windows

.azure-pipelines/master.yml:

trigger:
  branches:
    include:
    - master

pr:
  branches:
    include:
    - master
  paths:
    include:
    - datadog_checks_base/datadog_checks/*

variables:
  DDEV_COLOR: 1

jobs:
- template: './templates/test-all.yml'

Add Confluent Platform new integration
  .azure-pipelines/templates/test-all-checks.yml
  confluent_platform/CHANGELOG.md
  confluent_platform/MANIFEST.in
  confluent_platform/README.md
  confluent_platform/assets/configuration/spec.yaml
  confluent_platform/assets/service_checks.json
  confluent_platform/datadog_checks/__init__.py
  confluent_platform/datadog_checks/confluent_platform/__about__.py
  confluent_platform/datadog_checks/confluent_platform/__init__.py
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/manifest.json
  confluent_platform/metadata.csv
  confluent_platform/requirements-dev.txt
  confluent_platform/requirements.in
  confluent_platform/setup.py
  confluent_platform/tests/__init__.py
  confluent_platform/tests/common.py
  confluent_platform/tests/compose/docker-compose.yaml
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
  confluent_platform/tests/test_e2e.py
  confluent_platform/tox.ini
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Fix service check name
  jboss_wildfly/assets/service_checks.json
Due: .azure-pipelines/changes.yml

Put refresh method in cache object
  process/datadog_checks/process/cache.py
  process/datadog_checks/process/process.py
Due: .azure-pipelines/changes.yml

Backport docker-daemon changes (#5987)
  docker_daemon/CHANGELOG.md
  docker_daemon/README.md
  docker_daemon/assets/service_checks.json
  docker_daemon/datadog_checks/__init__.py
  docker_daemon/datadog_checks/docker_daemon/__about__.py
  docker_daemon/datadog_checks/docker_daemon/__init__.py
  docker_daemon/datadog_checks/docker_daemon/data/conf.yaml.example
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
  docker_daemon/manifest.json
  docker_daemon/metadata.csv
  docker_daemon/setup.py
  docker_daemon/test/test_docker_daemon.py
Due: .azure-pipelines/changes.yml

Update ibm_mq/assets/configuration/spec.yaml
  ibm_mq/assets/configuration/spec.yaml
Due: .azure-pipelines/changes.yml

State version supported (#5998)
  sap_hana/README.md
Due: .azure-pipelines/changes.yml

Add Cisco ASA 5525 profile and refactor cisco base profile (#5958)
  snmp/datadog_checks/snmp/data/conf.yaml.example
  snmp/datadog_checks/snmp/data/profiles/_base_cisco.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-3850.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-asa-5525.yaml
  snmp/datadog_checks/snmp/data/profiles/cisco-nexus.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/cisco_asa_5525.snmprec
  snmp/tests/test_check.py
Due: .azure-pipelines/changes.yml

Add `OID` helper class
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/exceptions.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_utils.py
Due: .azure-pipelines/changes.yml

Add ipversion mappings
  snmp/datadog_checks/snmp/data/profiles/_generic-router-ip.yaml
Due: .azure-pipelines/changes.yml

Expand tracing options and support threads (#5960)
  datadog_checks_base/datadog_checks/base/utils/__init__.py
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/tests/test_tracing.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add OIDs to router profiles (#5991)
  snmp/datadog_checks/snmp/data/profiles/_generic-router-if.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-ip.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-tcp.yaml
  snmp/datadog_checks/snmp/data/profiles/_generic-router-udp.yaml
Due: .azure-pipelines/changes.yml

Address reviews
  confluent_platform/README.md
  confluent_platform/assets/service_checks.json
  confluent_platform/datadog_checks/confluent_platform/data/metrics.yaml
  confluent_platform/manifest.json
  confluent_platform/setup.py
  confluent_platform/tests/conftest.py
  confluent_platform/tests/metrics.py
  confluent_platform/tests/test_e2e.py
Due: .azure-pipelines/changes.yml

Cache dependencies in core repo
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Try with mandatory step
  .azure-pipelines/templates/install-deps.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Ensure config is given in the actual pipeline definitions
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
  .azure-pipelines/templates/install-deps.yml
  .azure-pipelines/templates/test-all-checks.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Explicitly check for event value type before coercing to text (#5997)
  datadog_checks_base/datadog_checks/base/checks/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Pass config to correct task :facepalm:
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Add tests for the new metric
  consul/metadata.csv
  consul/tests/consul_mocks.py
  consul/tests/test_e2e.py
  consul/tests/test_integration.py
  consul/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix e2e
  consul/tests/test_e2e.py
Due: .azure-pipelines/changes.yml

Fix metadata description
  consul/metadata.csv
Due: .azure-pipelines/changes.yml

Updated readme
  sidekiq/README.md
Due: .azure-pipelines/changes.yml

Add metric config, default to true
  gitlab/datadog_checks/gitlab/data/conf.yaml.example
  gitlab/datadog_checks/gitlab/gitlab.py
  gitlab/tests/common.py
Due: .azure-pipelines/changes.yml

Add further info for namespace and gem
  sidekiq/README.md
Due: .azure-pipelines/changes.yml

Streamline exception handling
  sqlserver/datadog_checks/sqlserver/sqlserver.py
Due: .azure-pipelines/changes.yml

Link SNMP Profiles to README
  snmp/README.md
Due: .azure-pipelines/changes.yml

Fix link
  snmp/README.md
Due: .azure-pipelines/changes.yml

Add containerized instruction (#5643)
  cilium/README.md
Due: .azure-pipelines/changes.yml

Submit total_alloc as a monotonic count
  go_expvar/datadog_checks/go_expvar/go_expvar.py
  go_expvar/metadata.csv
  go_expvar/tests/common.py
  go_expvar/tests/test_unit.py
Due: .azure-pipelines/changes.yml

fix name
  go_expvar/metadata.csv
Due: .azure-pipelines/changes.yml

fixing link as reference
  snmp/README.md
Due: .azure-pipelines/changes.yml

Remove docker daemon from master (#5988)
  .github/CODEOWNERS
  docker_daemon/CHANGELOG.md
  docker_daemon/MANIFEST.in
  docker_daemon/README.md
  docker_daemon/assets/service_checks.json
  docker_daemon/datadog_checks/__init__.py
  docker_daemon/datadog_checks/docker_daemon/__about__.py
  docker_daemon/datadog_checks/docker_daemon/__init__.py
  docker_daemon/datadog_checks/docker_daemon/data/conf.yaml.example
  docker_daemon/datadog_checks/docker_daemon/docker_daemon.py
  docker_daemon/images/docker.png
  docker_daemon/images/integrations-docker-dockerps.png
  docker_daemon/manifest.json
  docker_daemon/metadata.csv
  docker_daemon/requirements-dev.txt
  docker_daemon/requirements.in
  docker_daemon/setup.py
  docker_daemon/test/__init__.py
  docker_daemon/test/ci/docker_daemon.rake
  docker_daemon/test/test_docker_daemon.py
  process/README.md
Due: .azure-pipelines/changes.yml

Remove examples from jmx template
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Update confluent_platform/README.md
  confluent_platform/README.md
Due: .azure-pipelines/changes.yml

Drop single pip restore key
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
  .azure-pipelines/changes.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Put pip_cache_config in parameters for all_master and all_pr
  .azure-pipelines/all_master.yml
  .azure-pipelines/all_pr.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Add triple quotes
  confluent_platform/README.md
Due: .azure-pipelines/changes.yml

Add `OID` helper class (#6000)
  snmp/datadog_checks/snmp/config.py
  snmp/datadog_checks/snmp/exceptions.py
  snmp/datadog_checks/snmp/models.py
  snmp/datadog_checks/snmp/utils.py
  snmp/tests/test_utils.py
Due: .azure-pipelines/changes.yml

Remove examples from jmx template (#6006)
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/instances/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Use placeholders for host and port
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
Due: .azure-pipelines/changes.yml
