Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks

Support only one image
  .azure-pipelines/agent.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Fix typo
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Split py2-py3 testing
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Revert "Split py2-py3 testing"
  .azure-pipelines/templates/run-tests.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Remove py3 split
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Revert "Remove py3 split"
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-all-checks.yml
  .azure-pipelines/templates/test-all.yml
  .azure-pipelines/templates/test-single-linux.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Add py2 option again
  .azure-pipelines/agent.yml
  .azure-pipelines/templates/test-single-windows.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

AUpdate common.py with coredns v1.8.5 metrics and Corefile name
  coredns/tests/common.py
  coredns/tests/docker/coredns/Corefile-v1.8
Due: .azure-pipelines/changes.yml

Addds_postgres_latest_env
  postgres/tests/common.py
  postgres/tests/compose/docker-compose-latest-alpine.yaml
  postgres/tests/conftest.py
  postgres/tests/test_pg_integration.py
  postgres/tox.ini
Due: .azure-pipelines/changes.yml

Add new function database_monitoring_query_activity to report dbm-activity events
  datadog_checks_base/datadog_checks/base/checks/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

wrap `requests.Response` objects
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

update condition for debug log
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Due: .azure-pipelines/changes.yml

sync config
  marathon/datadog_checks/marathon/config_models/defaults.py
  marathon/datadog_checks/marathon/config_models/instance.py
Due: .azure-pipelines/changes.yml

Update downloader dependencies
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_downloader/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Migrate config spec location also
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/manifest.py
Due: .azure-pipelines/changes.yml

Update dev keys
  docs/developer/process/integration-release.md
Due: .azure-pipelines/changes.yml

Update date
  docs/developer/process/integration-release.md
Due: .azure-pipelines/changes.yml

Update dependencies (first batch)
  amazon_msk/requirements.in
  cisco_aci/requirements.in
  clickhouse/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
  http_check/requirements.in
  mysql/requirements.in
  postgres/requirements.in
  riakcs/requirements.in
  spark/requirements.in
  sqlserver/requirements.in
  tls/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

update condition for debug log (#10224)
  ecs_fargate/datadog_checks/ecs_fargate/ecs_fargate.py
Due: .azure-pipelines/changes.yml

Add batch option to ddev dep updates command
  datadog_checks_dev/datadog_checks/dev/tooling/commands/dep.py
Due: .azure-pipelines/changes.yml

Update 3rd party license
  LICENSE-3rdparty.csv
Due: .azure-pipelines/changes.yml

Add new function database_monitoring_query_activity to report dbm-activity events (#10223)
  datadog_checks_base/datadog_checks/base/checks/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

update postgres data models
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/defaults.py
  postgres/datadog_checks/postgres/config_models/instance.py
Due: .azure-pipelines/changes.yml

refactor flow we capture activity even if obfuscation fails
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/changes.yml

fix config example for postgres
  postgres/datadog_checks/postgres/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

fix for tests with postgres version 9
  postgres/assets/configuration/spec.yaml
Due: .azure-pipelines/changes.yml

update conf example
  postgres/datadog_checks/postgres/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Send query sig under key query_signature
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/changes.yml

make spec/example consistent with internal defaults + don't wrap conn query in try/catch
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/changes.yml

Update changelog with new live queries feature
  postgres/CHANGELOG.md
Due: .azure-pipelines/changes.yml

remove CHANGELOG manual update
  postgres/CHANGELOG.md
Due: .azure-pipelines/changes.yml

add group by to query template
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/changes.yml

Keep track of activity event coll in PostgresStatementSamples
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

update comment
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/changes.yml

update query_activity config -> remove snapshot refs
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/changes.yml

Impl a limit on the number of activity rows we send to prevent dropping data
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/config_models/instance.py
  postgres/datadog_checks/postgres/data/conf.yaml.example
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/changes.yml

remove filtering for query_start
  postgres/datadog_checks/postgres/statement_samples.py
Due: .azure-pipelines/changes.yml

Support reporting pg stats for active queries
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  postgres/datadog_checks/postgres/config.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

don't re-read stale idle connections
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/changes.yml
