Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      ${{ if eq(variables['System.PullRequest.IsFork'], 'False') }}:
        ddtrace_flag: --ddtrace
      validate: false
      validate_codeowners: false
      validate_changed: changed
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

Disable e2e tests completely
  cilium/tests/common.py
  cilium/tests/conftest.py
  cilium/tests/legacy/test_e2e.py
  cilium/tests/test_e2e.py
  cilium/tox.ini
Due: .azure-pipelines/changes.yml

No need for different environments
  cilium/tests/conftest.py
Due: .azure-pipelines/changes.yml

Update readme with z/OS note
  ibm_mq/README.md
Due: .azure-pipelines/changes.yml

Move test to better package, add type hint
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/openmetrics/test_options.py
  datadog_checks_base/tests/base/checks/test_agent_check.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Use jellyfish instead
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Register private_key_password as secret (#11215)
  snowflake/datadog_checks/snowflake/check.py
Due: .azure-pipelines/changes.yml

Fix test failure due to non stable ordering of metadata
  postgres/datadog_checks/postgres/util.py
  postgres/tests/test_statements.py
Due: .azure-pipelines/changes.yml

add recovery_model_desc tag for database metrics (#11210)
  sqlserver/datadog_checks/sqlserver/metrics.py
Due: .azure-pipelines/changes.yml

Only ship dependency on python 3, use new method
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Allow tagging with just value
  yarn/datadog_checks/yarn/yarn.py
Due: .azure-pipelines/changes.yml

Revert "Support Windows E2E testing in CI for Python 2 (#9596)"
  .azure-pipelines/templates/test-single-windows.yml
  disk/tox.ini
  dns_check/tox.ini
  pdh_check/tox.ini
  tcp_check/tox.ini
  windows_service/tox.ini
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Add unit test
  yarn/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Update psutil
  btrfs/requirements.in
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  disk/requirements.in
  gunicorn/requirements.in
  network/requirements.in
  process/requirements.in
  system_core/requirements.in
  system_swap/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Bump CI for disk
  disk/datadog_checks/disk/disk.py
Due: .azure-pipelines/changes.yml

Update readme with z/OS note (#11216)
  ibm_mq/README.md
Due: .azure-pipelines/changes.yml

run full test suite for every supported Windows SQL Server driver (#10997)
  .azure-pipelines/scripts/sqlserver/windows/40_install_sqlserver.py
  .azure-pipelines/scripts/sqlserver/windows/41_stop_sqlserver.bat
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/test_statements.py
  sqlserver/tests/test_unit.py
  sqlserver/tests/utils.py
  sqlserver/tox.ini
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Update yarn/tests/test_unit.py
  yarn/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Fix tests
  yarn/tests/test_unit.py
  yarn/tests/test_yarn.py
Due: .azure-pipelines/changes.yml

update doc files
  docs/dev/check_references.md
  docs/dev/legacy.md
Due: .azure-pipelines/changes.yml

revert template and generator scripts to master
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/prometheus.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/scripts/metrics2md.py
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/check/{check_name}/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/jmx/{check_name}/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/logs/{check_name}/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/templates/integration/tile/{check_name}/metadata.csv
  openshift/gen_clusterquota_metadata.py
Due: .azure-pipelines/changes.yml

Add warning reporting on mysql database configuration errors
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/datadog_checks/mysql/util.py
  mysql/tests/test_statements.py
Due: .azure-pipelines/changes.yml

Fix test
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/tests/test_statements.py
Due: .azure-pipelines/changes.yml

[Release] Bumped snowflake version to 4.1.0
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.024e42fe.link
Due: .azure-pipelines/changes.yml

[Release] Bumped snowflake version to 4.1.0 (#11222)
  .in-toto/tag.024e42fe.link
  requirements-agent-release.txt
  snowflake/CHANGELOG.md
  snowflake/datadog_checks/snowflake/__about__.py
Due: .azure-pipelines/changes.yml

add hostname override parameter and test
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config.py
  ibm_mq/datadog_checks/ibm_mq/ibm_mq.py
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq_int.py
Due: .azure-pipelines/changes.yml

Refactor a bit more (#11154)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Due: .azure-pipelines/changes.yml

Skip e2e and integration tests on CI (#11158)
  cilium/tests/common.py
  cilium/tests/conftest.py
  cilium/tests/legacy/test_cilium.py
  cilium/tests/test_cilium.py
  cilium/tox.ini
Due: .azure-pipelines/changes.yml

Include hostname in all submissions
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  ibm_mq/datadog_checks/ibm_mq/collectors/channel_metric_collector.py
  ibm_mq/tests/common.py
  ibm_mq/tests/test_ibm_mq_int.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Fix spec
  ibm_mq/assets/configuration/spec.yaml
  ibm_mq/datadog_checks/ibm_mq/config_models/defaults.py
  ibm_mq/datadog_checks/ibm_mq/config_models/instance.py
  ibm_mq/datadog_checks/ibm_mq/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Add config unit test
  datadog_checks_base/datadog_checks/base/stubs/aggregator.py
  ibm_mq/tests/test_config.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add missing service checks
  ibm_mq/datadog_checks/ibm_mq/collectors/queue_metric_collector.py
  ibm_mq/tests/test_ibm_mq_int.py
Due: .azure-pipelines/changes.yml

Remap value 'unknown' to 'warning' for KSM 'node.ready' service check (#11132)
  kubernetes_state/datadog_checks/kubernetes_state/kubernetes_state.py
  kubernetes_state/tests/fixtures/prometheus.txt
  kubernetes_state/tests/test_kubernetes_state.py
Due: .azure-pipelines/changes.yml

Allow not tags
  ibm_mq/tests/common.py
Due: .azure-pipelines/changes.yml

Check intermediate certificate protocol version (#11207)
  tls/datadog_checks/tls/tls.py
  tls/datadog_checks/tls/tls_remote.py
Due: .azure-pipelines/changes.yml

Be more explicit about the e2e enabled environments
  ibm_mq/tox.ini
Due: .azure-pipelines/changes.yml

[container] Make public (#11078)
  container/manifest.json
Due: .azure-pipelines/changes.yml

Fix relations config parsing when multiple relations are specified (#11195)
  postgres/datadog_checks/postgres/relationsmanager.py
  postgres/tests/test_relationsmanager.py
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
