Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks

revert
  datadog_checks_base/tests/base/utils/db/test_util.py
Due: .azure-pipelines/changes.yml

add option to disable
  datadog_checks_base/datadog_checks/base/utils/tracking.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

standardize naming
  datadog_checks_base/datadog_checks/base/utils/tracking.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

logging fix
  datadog_checks_base/datadog_checks/base/utils/tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

grammar fixes and variable renaming
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
Due: .azure-pipelines/changes.yml

style
  datadog_checks_base/datadog_checks/base/utils/tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

[agent_metrics] Update README and metadata (#10793)
  agent_metrics/README.md
  agent_metrics/manifest.json
  agent_metrics/metadata.csv
  datadog_checks_dev/datadog_checks/dev/tooling/manifest_validator/common/validator.py
Due: .azure-pipelines/changes.yml

grammaticaal fix and error handling for version
  couchbase/datadog_checks/couchbase/couchbase.py
Due: .azure-pipelines/changes.yml

variable renaming
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
Due: .azure-pipelines/changes.yml

Add commands to metadata
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Revert "Fix mysql query metric collection not recovering after database restarts"
  mysql/datadog_checks/mysql/statements.py
Due: .azure-pipelines/changes.yml

fix py2
  datadog_checks_base/datadog_checks/base/utils/tracking.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Support TCPS for JDBC
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/conftest.py
  oracle/tests/docker/client/listener.ora
  oracle/tests/docker/client/oraclepki.jar
  oracle/tests/docker/client/osdt_cert.jar
  oracle/tests/docker/client/osdt_core.jar
  oracle/tests/docker/client/sqlnet.ora
  oracle/tests/docker/server/listener.ora
  oracle/tests/docker/server/sqlnet.ora
  oracle/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Add more information on JDBC with SSL
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/datadog_checks/oracle/oracle.py
Due: .azure-pipelines/changes.yml

Add protocol config validation
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_config.py
Due: .azure-pipelines/changes.yml

add logs source and saved_views
  weblogic/assets/saved_views/error_logs.json
  weblogic/assets/saved_views/weblogic_overview.json
  weblogic/assets/saved_views/weblogic_patterns.json
  weblogic/manifest.json
Due: .azure-pipelines/changes.yml

Add comments and more logging
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Let Exceptions Bubble up and Restart Query Metrics Job
  mysql/datadog_checks/mysql/statements.py
Due: .azure-pipelines/changes.yml

Add more log lines and assert them
  nginx/datadog_checks/nginx/nginx.py
  nginx/tests/test_unit.py
Due: .azure-pipelines/changes.yml

initial e2e for twistlock
  twistlock/tests/conftest.py
  twistlock/tests/test_twistlock.py
  twistlock/tox.ini
Due: .azure-pipelines/changes.yml

Add more config validation and rename jdbc_truststore to jdbc_truststore_path
  oracle/assets/configuration/spec.yaml
  oracle/datadog_checks/oracle/config_models/defaults.py
  oracle/datadog_checks/oracle/config_models/instance.py
  oracle/datadog_checks/oracle/data/conf.yaml.example
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_config.py
Due: .azure-pipelines/changes.yml

Fix style
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/test_config.py
Due: .azure-pipelines/changes.yml

Don't mention stream disabled when only_query_enabled_endpoints is enabled
  nginx/datadog_checks/nginx/nginx.py
Due: .azure-pipelines/changes.yml

Fix configs
  oracle/datadog_checks/oracle/oracle.py
  oracle/tests/conftest.py
Due: .azure-pipelines/changes.yml

Refactor metadata utils
  envoy/datadog_checks/envoy/utils.py
Due: .azure-pipelines/changes.yml

Support metadata collection in V2
  envoy/datadog_checks/envoy/check.py
  envoy/datadog_checks/envoy/envoy.py
  envoy/tests/common.py
  envoy/tests/legacy/test_envoy.py
  envoy/tests/test_check.py
Due: .azure-pipelines/changes.yml

added validation for end and start of line
  datadog_checks_dev/datadog_checks/dev/tooling/commands/validate/service_checks.py
Due: .azure-pipelines/changes.yml

Add decorator for tracking execution statistics of check methods (#10809)
  datadog_checks_base/datadog_checks/base/utils/tracking.py
  datadog_checks_base/tests/base/utils/test_tracking.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

improve internal check execution instrumentation
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_statements.py
Due: .azure-pipelines/changes.yml

add more error handling
  couchbase/datadog_checks/couchbase/couchbase.py
Due: .azure-pipelines/changes.yml

revert typo
  sqlserver/datadog_checks/sqlserver/activity.py
Due: .azure-pipelines/changes.yml

[Release] Bumped datadog_checks_base version to 23.5.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Due: .azure-pipelines/changes.yml

Update READMEs to include TCPS information
  oracle/README.md
  oracle/tests/README.md
Due: .azure-pipelines/changes.yml

Fix debug style
  oracle/datadog_checks/oracle/oracle.py
Due: .azure-pipelines/changes.yml

Add another test for edge cases
  nginx/tests/conftest.py
  nginx/tests/test_unit.py
Due: .azure-pipelines/changes.yml

AI-1890 add py27 e2e, fix style
  weblogic/tests/compose/weblogic/container-scripts/create-wls-domain.py
  weblogic/tox.ini
Due: .azure-pipelines/changes.yml

Use urlunparse
  envoy/datadog_checks/envoy/check.py
Due: .azure-pipelines/changes.yml

[Release] Bumped datadog_checks_base version to 23.5.0 (#10814)
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

fix for py2
  sqlserver/datadog_checks/sqlserver/statements.py
Due: .azure-pipelines/changes.yml
