Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks

Lint
  snmp/tests/test_e2e_core_profiles/test_profile_apc_netbotz.py
Due: .azure-pipelines/changes.yml

Add profile for raritan-dominion (#15326)
  snmp/datadog_checks/snmp/data/default_profiles/raritan-dominion.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/raritan-dominion.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_raritan_dominion.py
Due: .azure-pipelines/changes.yml

Add profile for ruckus-unleashed (#15311)
  snmp/datadog_checks/snmp/data/default_profiles/ruckus-unleashed.yaml
  snmp/datadog_checks/snmp/data/default_profiles/ruckus-wap.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/ruckus-unleashed.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_ruckus_unleashed.py
Due: .azure-pipelines/changes.yml

Fixed integration tests error on CI
  openstack_controller/tests/conftest.py
  openstack_controller/tests/test_integration.py
Due: .azure-pipelines/changes.yml

Removed unexpected 'id' causing errors in Dashboard validation
  openstack_controller/assets/dashboards/openstack-controller-legacy.json
  openstack_controller/assets/dashboards/openstack-controller.json
Due: .azure-pipelines/changes.yml

Add profile for synology-disk-station
  snmp/datadog_checks/snmp/data/default_profiles/synology-disk-station.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/synology-disk-station.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_synology_disk_station.py
Due: .azure-pipelines/changes.yml

[SNMP] Add profile for HP Nimble (#15312)
  snmp/datadog_checks/snmp/data/default_profiles/hpe-nimble.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/hpe-nimble.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_hpe_nimble.py
Due: .azure-pipelines/changes.yml

Add profile for server-iron-switch (#15329)
  snmp/datadog_checks/snmp/data/default_profiles/server-iron-switch.yaml
  snmp/tests/compose/data/server-iron-switch.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_server_iron_switch.py
Due: .azure-pipelines/changes.yml

Revert "Upgrade ddtrace to 1.11.2 on Python 3 (#14367) (#15144)"
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  datadog_checks_base/datadog_checks/base/utils/tracing.py
  datadog_checks_base/pyproject.toml
  datadog_checks_base/tests/base/utils/test_tracing.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Revert "Bump pydantic version in the agent_requirements.in file (#15320)"
  LICENSE-3rdparty.csv
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Add profile for tp-link
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
  snmp/tests/compose/data/tp-link.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_tp_link.py
Due: .azure-pipelines/changes.yml

Add profile for sinetica-eagle-i
  snmp/datadog_checks/snmp/data/default_profiles/sinetica-eagle-i.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/sinetica-eagle-i.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_sinetica_eagle_i.py
Due: .azure-pipelines/changes.yml

Update kafka_consumer version for beta
  kafka_consumer/datadog_checks/kafka_consumer/__about__.py
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.a7b04961.link
Due: .azure-pipelines/changes.yml

Rename raw_error -> rawerror to use correct field name
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add minor comment
  datadog_checks_base/datadog_checks/base/checks/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Fix lint issues
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

First iteration of diagnose API for integrations
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Sanitize fields
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Addition of check's get_diagnose() method to support agent diangose CLI comamnd
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Handle exceptions during explicit diagnostics
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Fix linting issues
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Remove `DIAGNOSIS_NOT_ENABLE` enum value
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Return JSON instead of Python objects from `get_diagnoses()`
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/utils/test_diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Pass all diagnose fields correctly
  datadog_checks_base/datadog_checks/base/utils/diagnose.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Add the LangChain integration (#15229)
  .github/CODEOWNERS
  .github/workflows/config/labeler.yml
  langchain/CHANGELOG.md
  langchain/README.md
  langchain/assets/dashboards/overview_dashboard.json
  langchain/assets/recommended_monitors/error_rate.json
  langchain/assets/recommended_monitors/request_duration.json
  langchain/assets/service_checks.json
  langchain/manifest.json
  langchain/metadata.csv
Due: .azure-pipelines/changes.yml

Add profile for servertech-pdu3
  snmp/datadog_checks/snmp/data/default_profiles/servertech-pdu3.yaml
  snmp/datadog_checks/snmp/data/default_profiles/servertech.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/servertech-pdu3.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu3.py
Due: .azure-pipelines/changes.yml

Fix sysobjectid
  snmp/datadog_checks/snmp/data/default_profiles/servertech.yaml
Due: .azure-pipelines/changes.yml

Forgotten test
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu3.py
Due: .azure-pipelines/changes.yml

Add tags & change vendor value
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
Due: .azure-pipelines/changes.yml

Test file
  snmp/tests/test_e2e_core_profiles/test_profile_tp_link.py
Due: .azure-pipelines/changes.yml

Apply suggestions from code review
  network/README.md
Due: .azure-pipelines/changes.yml

Add profile for Huawei devices
  snmp/datadog_checks/snmp/data/default_profiles/huawei.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/huawei.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_huawei.py
Due: .azure-pipelines/changes.yml

Forgotten tag
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
Due: .azure-pipelines/changes.yml

Add profile for sinetica-eagle-i (#15340)
  snmp/datadog_checks/snmp/data/default_profiles/sinetica-eagle-i.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/sinetica-eagle-i.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_sinetica_eagle_i.py
Due: .azure-pipelines/changes.yml

[NDM] Add profile for avaya aura ms (#15214)
  snmp/datadog_checks/snmp/data/default_profiles/avaya-aura-media-server.yaml
  snmp/datadog_checks/snmp/data/default_profiles/avaya.yaml
  snmp/tests/compose/data/avaya-aura-media-server.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_avaya_aura_media_server.py
Due: .azure-pipelines/changes.yml

Add indent
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
Due: .azure-pipelines/changes.yml

Add profile for servertech-pdu3 (#15341)
  snmp/datadog_checks/snmp/data/default_profiles/servertech-pdu3.yaml
  snmp/datadog_checks/snmp/data/default_profiles/servertech.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/servertech-pdu3.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_servertech_pdu3.py
Due: .azure-pipelines/changes.yml

Add profile for tp-link (#15339)
  snmp/datadog_checks/snmp/data/default_profiles/tp-link.yaml
  snmp/tests/compose/data/tp-link.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_tp_link.py
Due: .azure-pipelines/changes.yml

[SNMP] Add profile for APC Netbotz (#15136)
  snmp/datadog_checks/snmp/data/default_profiles/_apc-metadata.yaml
  snmp/datadog_checks/snmp/data/default_profiles/_apc.yaml
  snmp/datadog_checks/snmp/data/default_profiles/apc-netbotz.yaml
  snmp/datadog_checks/snmp/data/default_profiles/apc.yaml
  snmp/metadata.csv
  snmp/tests/compose/data/apc-netbotz.snmprec
  snmp/tests/test_e2e_core_profiles/test_profile_apc_netbotz.py
Due: .azure-pipelines/changes.yml
