Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      validate: true
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

[Release] Bumped datadog_checks_base version to 11.3.0 (#6155)
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Update base pin (#6156)
  twistlock/setup.py
Due: .azure-pipelines/changes.yml

Cast to float before computing temporal percent (#6146)
  datadog_checks_base/datadog_checks/base/utils/db/transform.py
  datadog_checks_base/tests/test_db.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Bumped datadog_checks_base version to 11.3.1
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Update metadata
  .in-toto/tag.31091c85.link
Due: .azure-pipelines/changes.yml

[Release] Bumped datadog_checks_base version to 11.3.1 (#6157)
  .in-toto/tag.31091c85.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Original ProxySQL implementation
  proxysql/CHANGELOG.md
  proxysql/MANIFEST.in
  proxysql/README.md
  proxysql/assets/service_checks.json
  proxysql/datadog_checks/__init__.py
  proxysql/datadog_checks/proxysql/__about__.py
  proxysql/datadog_checks/proxysql/__init__.py
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/manifest.json
  proxysql/metadata.csv
  proxysql/requirements-dev.txt
  proxysql/requirements.in
  proxysql/setup.py
  proxysql/tests/__init__.py
  proxysql/tests/common.py
  proxysql/tests/compose/docker-compose.yml
  proxysql/tests/compose/proxysql.cnf
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Due: .azure-pipelines/changes.yml

Use QueryManager
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/tests/test_proxysql.py
Due: .azure-pipelines/changes.yml

integration and e2e testing
  .azure-pipelines/templates/test-all-checks.yml
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/manifest.json
  proxysql/requirements-dev.txt
  proxysql/setup.py
  proxysql/tests/common.py
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Refactor passing of logger to queries
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/document_db/_example.py
  rethinkdb/datadog_checks/rethinkdb/document_db/query.py
  rethinkdb/datadog_checks/rethinkdb/document_db/utils.py
Due: .azure-pipelines/changes.yml

use configspecs
  proxysql/assets/configuration/spec.yaml
  proxysql/datadog_checks/proxysql/data/conf.yaml.example
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/manifest.json
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
Due: .azure-pipelines/changes.yml

Drop query duration metric
  rethinkdb/datadog_checks/rethinkdb/config.py
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/datadog_checks/rethinkdb/types.py
  rethinkdb/tests/unit/test_config.py
  rethinkdb/tests/unit/test_system_jobs_metrics.py
Due: .azure-pipelines/changes.yml

Fix tests
  proxysql/tests/test_proxysql.py
Due: .azure-pipelines/changes.yml

Address feedback
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/document_db/query.py
  rethinkdb/datadog_checks/rethinkdb/types.py
Due: .azure-pipelines/changes.yml

Add config specs (#6145)
  mongo/assets/configuration/spec.yaml
  mongo/datadog_checks/mongo/data/conf.yaml.example
  mongo/manifest.json
  mongo/setup.py
Due: .azure-pipelines/changes.yml

Add logs section (#6120)
  confluent_platform/README.md
  confluent_platform/assets/configuration/spec.yaml
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

PDH check to use new agent signature
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
Due: .azure-pipelines/changes.yml

Update service_checks.json
  proxysql/assets/service_checks.json
Due: .azure-pipelines/changes.yml

Use new agent signature
  iis/datadog_checks/iis/iis.py
  iis/tests/test_iis.py
Due: .azure-pipelines/changes.yml

Bump base package
  iis/setup.py
Due: .azure-pipelines/changes.yml

Update fluentd/assets/configuration/spec.yaml
  fluentd/assets/configuration/spec.yaml
  fluentd/datadog_checks/fluentd/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

[Release] Bumped confluent_platform version to 1.0.0-beta.1
  confluent_platform/CHANGELOG.md
  confluent_platform/datadog_checks/confluent_platform/__about__.py
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.fbc63ae0.link
Due: .azure-pipelines/changes.yml

Update metadata.csv
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/metadata.csv
Due: .azure-pipelines/changes.yml

Do not pass counter_list to base class
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/tests/test_pdhbasecheck.py
  pdh_check/datadog_checks/pdh_check/pdh_check.py
  pdh_check/setup.py
  pdh_check/tests/test_pdh_check.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Pass counter_list as kwarg
  pdh_check/datadog_checks/pdh_check/pdh_check.py
Due: .azure-pipelines/changes.yml

Update documentation
  proxysql/README.md
Due: .azure-pipelines/changes.yml

Cleanup comment
  proxysql/datadog_checks/proxysql/proxysql.py
Due: .azure-pipelines/changes.yml

Update datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
  datadog_checks_base/datadog_checks/base/checks/win/winpdh_base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Update weekly checks to run explicit checks
  .azure-pipelines/latest_metrics.yml
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Update to include rack namespace
  gitlab/datadog_checks/gitlab/metrics.py
Due: .azure-pipelines/changes.yml

Add service_check_prefix config to jmx
  activemq/datadog_checks/activemq/data/conf.yaml.example
  confluent_platform/datadog_checks/confluent_platform/data/conf.yaml.example
  datadog_checks_dev/datadog_checks/dev/tooling/templates/configuration/init_config/jmx.yaml
  hive/datadog_checks/hive/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Drop detailed jobs metrics in favor of jobs summary
  rethinkdb/datadog_checks/rethinkdb/check.py
  rethinkdb/datadog_checks/rethinkdb/operations.py
  rethinkdb/datadog_checks/rethinkdb/queries.py
  rethinkdb/datadog_checks/rethinkdb/types.py
  rethinkdb/metadata.csv
  rethinkdb/tests/assertions.py
  rethinkdb/tests/common.py
  rethinkdb/tests/test_integration.py
  rethinkdb/tests/unit/test_system_jobs_metrics.py
Due: .azure-pipelines/changes.yml

Update metadata.csv
  rethinkdb/metadata.csv
Due: .azure-pipelines/changes.yml

Submit version metadata
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
Due: .azure-pipelines/changes.yml

Update licensing
  proxysql/datadog_checks/__init__.py
  proxysql/datadog_checks/proxysql/__about__.py
  proxysql/datadog_checks/proxysql/__init__.py
  proxysql/datadog_checks/proxysql/proxysql.py
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/setup.py
  proxysql/tests/__init__.py
  proxysql/tests/common.py
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
Due: .azure-pipelines/changes.yml

Fix E2E
  rethinkdb/tests/assertions.py
  rethinkdb/tests/common.py
Due: .azure-pipelines/changes.yml

Add dashboard
  sidekiq/assets/dashboards/overview.json
  sidekiq/manifest.json
Due: .azure-pipelines/changes.yml

Test more versions and assert version metadata submission
  proxysql/datadog_checks/proxysql/queries.py
  proxysql/tests/compose/docker-compose.yml
  proxysql/tests/compose/proxysql.cnf
  proxysql/tests/conftest.py
  proxysql/tests/test_proxysql.py
  proxysql/tox.ini
Due: .azure-pipelines/changes.yml

Use homemade certificates for tls tests (#6104)
  tls/tests/compose/Dockerfile
  tls/tests/compose/ca.crt
  tls/tests/compose/ca.key
  tls/tests/compose/docker-compose.yml
  tls/tests/compose/nginx-tls1-1.conf
  tls/tests/compose/nginx-tls1-2.conf
  tls/tests/compose/nginx-tls1-3.conf
  tls/tests/compose/nginx.conf
  tls/tests/compose/ssl.conf
  tls/tests/conftest.py
  tls/tests/test_e2e.py
  tls/tests/test_remote.py
  tls/tests/utils.py
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
