Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      validate: true
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

change port from 22222 to 2222 default
  twemproxy/README.md
Due: .azure-pipelines/changes.yml

Revert way of checking if it's aurora (#9224)
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/version_utils.py
  postgres/tests/test_version_utils.py
Due: .azure-pipelines/changes.yml

change port from 22222 to 2222 default (#9248)
  twemproxy/README.md
Due: .azure-pipelines/changes.yml

Upgrade `python-binary-memcached` dependency
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mcache/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

[Release] Bumped postgres version to 6.0.2
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

[Release] Update metadata
  .in-toto/tag.c295cf63.link
Due: .azure-pipelines/changes.yml

[Release] Bumped postgres version to 6.0.2 (#9250)
  .in-toto/tag.c295cf63.link
  postgres/CHANGELOG.md
  postgres/datadog_checks/postgres/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/changes.yml

fix docs ref links (#9247)
  gitlab_runner/README.md
Due: .azure-pipelines/changes.yml

Add Merging of Duplicate Rows in statement_metrics
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Clean up and add test for merge_duplicate_rows
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Address review comments
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Update metadata (#9187)
  consul/metadata.csv
Due: .azure-pipelines/changes.yml

fix
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mcache/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Make trello status command output be more usable
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
Due: .azure-pipelines/changes.yml

Upgrade `python-binary-memcached` dependency (#9251)
  datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  mcache/requirements.in
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

Make trello status command output be more usable (#9241)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/release/trello/status.py
Due: .azure-pipelines/changes.yml

Add merging of duplicate rows in statement_metrics (#9227)
  datadog_checks_base/datadog_checks/base/utils/db/statement_metrics.py
  datadog_checks_base/tests/test_db_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Bumped datadog_checks_base version to 18.3.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Bumped datadog_checks_base version to 18.3.0 (#9254)
  .in-toto/tag.c295cf63.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Fix Windows CI
  .azure-pipelines/scripts/datadog_checks_base/windows/55_vcpython27.bat
  datadog_checks_base/tox.ini
Due: .azure-pipelines/all.yml, .azure-pipelines/changes.yml

Fix erroneous postgres statement metrics
  postgres/datadog_checks/postgres/statements.py
  postgres/tests/test_pg_integration.py
Due: .azure-pipelines/changes.yml

Use query_signature in mysql row key for proper merging of duplicates
  mysql/datadog_checks/mysql/statements.py
  mysql/tests/test_mysql.py
Due: .azure-pipelines/changes.yml

Improve telemetry metrics docs
  snmp/metadata.csv
Due: .azure-pipelines/changes.yml

Fix metadata
  snmp/metadata.csv
Due: .azure-pipelines/changes.yml

[snmp] invert interactive logic
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_mib_filenames.py
Due: .azure-pipelines/changes.yml

[snmp] add interactive option to generate profile tool
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
Due: .azure-pipelines/changes.yml

Add `ddev env edit` command (#9196)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/__init__.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/edit.py
  datadog_checks_dev/datadog_checks/dev/tooling/commands/env/start.py
Due: .azure-pipelines/changes.yml

[snmp] invert interactive logic (#9258)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/validate_mib_filenames.py
Due: .azure-pipelines/changes.yml

[snmp] add interactive option to generate profile tool (#9259)
  datadog_checks_dev/datadog_checks/dev/tooling/commands/meta/snmp/generate_profile.py
Due: .azure-pipelines/changes.yml

Update snmp/metadata.csv
  snmp/metadata.csv
Due: .azure-pipelines/changes.yml

Update SNMP Listener AD config (#9221)
  docs/developer/architecture/snmp.md
Due: .azure-pipelines/changes.yml

Assert metrics using metadata
  mysql/tests/test_mysql.py
Due: .azure-pipelines/changes.yml

Add missing metrics to metadata.csv
  mysql/metadata.csv
Due: .azure-pipelines/changes.yml

[kubernetes] add jobs & cronjobs dashboard (#9220)
  kubernetes/assets/dashboards/kubernetes_jobs.json
  kubernetes/manifest.json
Due: .azure-pipelines/changes.yml

rates are gauges
  mysql/metadata.csv
Due: .azure-pipelines/changes.yml

Do not check submission type on integration tests
  mysql/tests/test_mysql.py
Due: .azure-pipelines/changes.yml

Update voltdb/metadata.csv
  voltdb/metadata.csv
Due: .azure-pipelines/changes.yml

revert
  mysql/tests/test_mysql.py
Due: .azure-pipelines/changes.yml

Update voltdb/assets/configuration/spec.yaml
  voltdb/assets/configuration/spec.yaml
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
