Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      ${{ if eq(variables['System.PullRequest.IsFork'], 'False') }}:
        ddtrace_flag: --ddtrace
      validate: false
      validate_codeowners: false
      validate_changed: changed
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

Update manifest.json
  docker_daemon/manifest.json
Due: .azure-pipelines/changes.yml

testing ci
  docker_daemon/manifest.json
Due: .azure-pipelines/changes.yml

log raw repr of query text when obfuscation fails
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Update cisco_duo/manifest.json
  cisco_duo/manifest.json
Due: .azure-pipelines/changes.yml

Update CODEOWNERS
  .github/CODEOWNERS
Due: .azure-pipelines/changes.yml

sanitize query text by replacing embedded nulls
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

add replace_null_character option to conditionally replace embedded chars
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

add unit tests
  datadog_checks_base/tests/base/utils/db/test_util.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Due: .azure-pipelines/changes.yml

fix unit test
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
Due: .azure-pipelines/changes.yml

add replace_null_character option to replace embedded nulls
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

replace embedded nulls in query text
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Due: .azure-pipelines/changes.yml

update changelog
  datadog_checks_base/changelog.d/16742.fixed
  sqlserver/changelog.d/16742.fixed
Due: .azure-pipelines/changes.yml

fix lint
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/test_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

update changelog
  datadog_checks_base/changelog.d/16742.fixed
Due: .azure-pipelines/changes.yml

upgrade odbc driver to 18 on windows
  .ddev/ci/scripts/sqlserver/windows/32_install_odbc.bat
  sqlserver/tests/common.py
Due: .azure-pipelines/changes.yml

install oledb driver on windows
  .ddev/ci/scripts/sqlserver/windows/55_install_oledb.bat
Due: .azure-pipelines/changes.yml

[ddev] bump sqlserver odbc driver to 18 on windows ci
  .ddev/ci/scripts/sqlserver/windows/32_install_odbc.bat
  sqlserver/tests/common.py
Due: .azure-pipelines/changes.yml

Use ODBC Driver 18 for SQL Server for linux ci
  .ddev/ci/scripts/sqlserver/linux/55_install_odbc.sh
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/odbc/odbcinst.ini
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_e2e.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Due: .azure-pipelines/changes.yml

remove debug print
  sqlserver/tests/test_connection.py
  sqlserver/tests/test_e2e.py
Due: .azure-pipelines/changes.yml

trust self-signed cert in test when connector is odbc
  sqlserver/tests/conftest.py
Due: .azure-pipelines/changes.yml

Update CODEOWNERS (#16740)
  .github/CODEOWNERS
Due: .azure-pipelines/changes.yml

Attempt to make the e2e env less flaky
  harbor/tests/conftest.py
Due: .azure-pipelines/changes.yml

Attempt to make the e2e env less flaky (#16745)
  harbor/tests/conftest.py
Due: .azure-pipelines/changes.yml

add jdbc pool
  tomcat/assets/dashboards/overview.json
Due: .azure-pipelines/changes.yml

Use odbc driver 18 on sqlserver windows & linux ci (#16744)
  .ddev/ci/scripts/sqlserver/linux/55_install_odbc.sh
  .ddev/ci/scripts/sqlserver/windows/32_install_odbc.bat
  sqlserver/tests/common.py
  sqlserver/tests/conftest.py
  sqlserver/tests/odbc/odbcinst.ini
  sqlserver/tests/test_activity.py
  sqlserver/tests/test_integration.py
  sqlserver/tests/utils.py
Due: .azure-pipelines/changes.yml

Add cisco duo integrations with assets
  cisco_duo/CHANGELOG.md
  cisco_duo/README.md
  cisco_duo/assets/cisco_duo.svg
  cisco_duo/assets/dashboards/cisco_duo_activity_logs.json
  cisco_duo/assets/dashboards/cisco_duo_adminstrator_logs.json
  cisco_duo/assets/dashboards/cisco_duo_authentication_logs.json
  cisco_duo/assets/dashboards/cisco_duo_offline_enrollment.json
  cisco_duo/assets/dashboards/cisco_duo_overview.json
  cisco_duo/assets/dashboards/cisco_duo_telephony_logs.json
  cisco_duo/assets/logs/cisco-duo.yaml
  cisco_duo/assets/logs/cisco-duo_tests.yaml
  cisco_duo/assets/service_checks.json
  cisco_duo/images/cisco_duo_activity_logs.png
  cisco_duo/images/cisco_duo_administrator_logs.png
  cisco_duo/images/cisco_duo_authentication_logs.png
  cisco_duo/images/cisco_duo_offline_enrollment_logs.png
  cisco_duo/images/cisco_duo_telephony_logs.png
  cisco_duo/manifest.json
Due: .azure-pipelines/changes.yml

Added initial structure for cisco-secure-firewall integration
  cisco_secure_firewall/CHANGELOG.md
  cisco_secure_firewall/README.md
  cisco_secure_firewall/assets/cisco_secure_firewall.svg
  cisco_secure_firewall/assets/configuration/spec.yaml
  cisco_secure_firewall/assets/dashboards/cisco_secure_firewall_snmp.json
  cisco_secure_firewall/assets/service_checks.json
  cisco_secure_firewall/datadog_checks/__init__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/__about__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/__init__.py
  cisco_secure_firewall/datadog_checks/cisco_secure_firewall/data/conf.yaml.example
  cisco_secure_firewall/images/cisco_secure_firewall_SNMP.png
  cisco_secure_firewall/manifest.json
  cisco_secure_firewall/pyproject.toml
Due: .azure-pipelines/changes.yml

Rename dashboard files
  cisco_duo/assets/dashboards/cisco_duo_administrator_logs.json
  cisco_duo/assets/dashboards/cisco_duo_offline_enrollment_logs.json
Due: .azure-pipelines/changes.yml

Update manifest with file path
  cisco_duo/assets/dashboards/cisco_duo_overview.json
  cisco_duo/manifest.json
Due: .azure-pipelines/changes.yml

Update manifest and changelog
  cisco_secure_firewall/CHANGELOG.md
  cisco_secure_firewall/manifest.json
Due: .azure-pipelines/changes.yml

Add palo alto panorama v1.0.0
  palo_alto_panorama/CHANGELOG.md
  palo_alto_panorama/README.md
  palo_alto_panorama/assets/configuration/spec.yaml
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_authentication.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_config.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_correlated_events.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_decryption.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_globalprotect.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_hip_match.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_system.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_threat.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_traffic.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_tunnel_inspection.json
  palo_alto_panorama/assets/dashboards/palo_alto_panorama_user_id.json
  palo_alto_panorama/assets/logs/palo-alto-panorama.yaml
  palo_alto_panorama/assets/logs/palo-alto-panorama_tests.yaml
  palo_alto_panorama/assets/service_checks.json
  palo_alto_panorama/datadog_checks/__init__.py
  palo_alto_panorama/datadog_checks/palo_alto_panorama/__about__.py
  palo_alto_panorama/datadog_checks/palo_alto_panorama/__init__.py
  palo_alto_panorama/datadog_checks/palo_alto_panorama/data/conf.yaml.example
  palo_alto_panorama/images/palo_alto_panorama_authentication.png
  palo_alto_panorama/images/palo_alto_panorama_config.png
  palo_alto_panorama/images/palo_alto_panorama_decryption.png
  palo_alto_panorama/images/palo_alto_panorama_global_protect.png
  palo_alto_panorama/images/palo_alto_panorama_system.png
  palo_alto_panorama/images/palo_alto_panorama_threat.png
  palo_alto_panorama/images/palo_alto_panorama_traffic.png
  palo_alto_panorama/images/palo_alto_panorama_tunnel_inspection.png
  palo_alto_panorama/manifest.json
  palo_alto_panorama/pyproject.toml
Due: .azure-pipelines/changes.yml

added test for new statistics
  voltdb/tests/fixtures/mock_results.json
Due: .azure-pipelines/changes.yml

update docstring
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

fix lint
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

[DBMON-3495] Replace embedded null characters in query text (#16742)
  datadog_checks_base/changelog.d/16742.fixed
  datadog_checks_base/datadog_checks/base/utils/db/utils.py
  datadog_checks_base/tests/base/utils/db/test_util.py
  sqlserver/changelog.d/16742.fixed
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/tests/compose-ha/sql/aoag_primary.sql
  sqlserver/tests/compose-high-cardinality-windows/setup.sql
  sqlserver/tests/compose-high-cardinality/setup.sql
  sqlserver/tests/compose-windows/setup.sql
  sqlserver/tests/compose/setup.sql
  sqlserver/tests/test_statements.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Bumped datadog_checks_base version to 36.0.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/16538.fixed
  datadog_checks_base/changelog.d/16542.added
  datadog_checks_base/changelog.d/16547.added
  datadog_checks_base/changelog.d/16549.added
  datadog_checks_base/changelog.d/16554.added
  datadog_checks_base/changelog.d/16558.added
  datadog_checks_base/changelog.d/16560.added
  datadog_checks_base/changelog.d/16573.added
  datadog_checks_base/changelog.d/16702.removed
  datadog_checks_base/changelog.d/16742.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Update metadata
  .in-toto/tag.b9ca7eb3.link
Due: .azure-pipelines/changes.yml

[Release] Bumped datadog_checks_base version to 36.0.0 (#16749)
  .in-toto/tag.b9ca7eb3.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/16538.fixed
  datadog_checks_base/changelog.d/16542.added
  datadog_checks_base/changelog.d/16547.added
  datadog_checks_base/changelog.d/16549.added
  datadog_checks_base/changelog.d/16554.added
  datadog_checks_base/changelog.d/16558.added
  datadog_checks_base/changelog.d/16560.added
  datadog_checks_base/changelog.d/16573.added
  datadog_checks_base/changelog.d/16702.removed
  datadog_checks_base/changelog.d/16742.fixed
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Require base check that has fix for null characters in query strings
  sqlserver/pyproject.toml
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
