Repository DataDog/integrations-core: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/compile_deps.yml, .azure-pipelines/master.yml

.azure-pipelines/All.yml:
  schedules:
  - cron: 0 5 * * *
    displayName: Nightly (EDT/EST)
    always: true
    branches:
      include:
      - master
  jobs:
  - template: ./templates/test-all.yml

.azure-pipelines/all.yml:
  jobs:
  - template: ./templates/test-all.yml
    parameters:
      checks:
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Linux)
        os: linux
      - checkName: datadog_checks_base
        displayName: Datadog Checks Base (Windows)
        os: windows
  ...

.azure-pipelines/all_agent7.yml:
  jobs:
  - template: ./templates/test-all-checks.yml

.azure-pipelines/all_pr.yml:
  jobs:
  - template: ./templates/test-all-checks.yml
    parameters:
      pip_cache_config:
        key: pip | $(Agent.OS) | datadog_checks_base/datadog_checks/base/data/agent_requirements.in
        restoreKeys: 'pip | $(Agent.OS)
  
          '
        path: $(PIP_CACHE_DIR)

.azure-pipelines/changes.yml:
  jobs:
  - template: ./templates/test-single-linux.yml
    parameters:
      job_name: Changed
      display: Linux
      ${{ if eq(variables['System.PullRequest.IsFork'], 'False') }}:
        ddtrace_flag: --ddtrace
      validate: false
      validate_codeowners: false
      validate_changed: changed
  ...

.azure-pipelines/compile_deps.yml:
  jobs:
  - job: compile_deps
    displayName: Compile Deps - $(VM_IMAGE) - $(PYTHON_VERSION)
    strategy:
      matrix:
        Linux_Python27:
          VM_IMAGE: ubuntu-18.04
          PYTHON_VERSION: '2.7'
          SYS_PLATFORM: linux
        Linux_Python38:
          VM_IMAGE: ubuntu-18.04
  ...

.azure-pipelines/master.yml:
  jobs:
  - template: ./templates/test-all.yml

Fix ruff formatting on fgHwSensorAlarmStatus assertion
  snmp/tests/test_profiles.py
Due: .azure-pipelines/changes.yml

Port datadog_checks_base 38.0.2 release to master (#25011)
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24864.security
Due: .azure-pipelines/changes.yml

Remove preview note from collect_raw_query_statement
  postgres/assets/configuration/spec.yaml
  postgres/datadog_checks/postgres/data/conf.yaml.example
  sqlserver/assets/configuration/spec.yaml
  sqlserver/datadog_checks/sqlserver/data/conf.yaml.example
Due: .azure-pipelines/changes.yml

Add dataflow_config section to account_config.json
  proofpoint_tap/assets/account_config.json
Due: .azure-pipelines/changes.yml

Remove ineffective HTTP warning assertions
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Due: .azure-pipelines/changes.yml

Restore OpenMetrics Accept precedence
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Repoint release dispatch to ddoghq/agent-integration-wheels-release (#24974)
  .github/workflows/release-dispatch.yml
  .github/workflows/scripts/_release/__init__.py
Due: .azure-pipelines/changes.yml

Register Measure Disk Usage as a post-pr-comment.yml producer
  .github/workflows/post-pr-comment.yml
Due: .azure-pipelines/changes.yml

[Release] Bumped datadog_checks_base version to 38.2.0
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24905.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

[Release] Update metadata
  .in-toto/tag.4604c9db.link
Due: .azure-pipelines/changes.yml

Fix transposed VPN status tags in Sophos XGS e2e test
  snmp/tests/test_e2e_core_profiles/test_profile_sophos_xgs_firewall.py
Due: .azure-pipelines/changes.yml

Release Datadog checks base 38.2.0 (#25017)
  .in-toto/tag.4604c9db.link
  datadog_checks_base/CHANGELOG.md
  datadog_checks_base/changelog.d/24905.added
  datadog_checks_base/datadog_checks/base/__about__.py
  requirements-agent-release.txt
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Remove all C sources from psycopg wheels
  .builders/scripts/files_to_remove.toml
  .builders/tests/test_build_wheels.py
Due: .azure-pipelines/changes.yml

Centralize the DDIGNORE query comment in one constant
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Due: .azure-pipelines/changes.yml

Add changelog
  postgres/changelog.d/25018.fixed
Due: .azure-pipelines/changes.yml

Skip metric limit handling in isolated parent
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Centralize the insufficient-privilege query sentinel in one constant.
  postgres/datadog_checks/postgres/diagnose.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Due: .azure-pipelines/changes.yml

Add changelog
  postgres/changelog.d/25019.fixed
Due: .azure-pipelines/changes.yml

Fix formatting
  postgres/datadog_checks/postgres/diagnose.py
Due: .azure-pipelines/changes.yml

Centralize the DDIGNORE query comment in one constant (#25018)
  postgres/changelog.d/25018.fixed
  postgres/datadog_checks/postgres/cursor.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Due: .azure-pipelines/changes.yml

Standardize HTTP tests on backend-neutral fake
  appgate_sdp/tests/test_unit.py
  argo_workflows/tests/test_unit.py
  celery/tests/test_unit.py
  citrix_hypervisor/tests/conftest.py
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_metadata.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/test_kubelet_base.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/stubs/test_http.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  dcgm/tests/conftest.py
  dcgm/tests/test_unit.py
  fly_io/tests/conftest.py
  fly_io/tests/test_unit.py
  gitlab/tests/conftest.py
  gitlab/tests/test_unit.py
  kubelet/tests/test_cadvisor.py
  kubelet/tests/test_kubelet.py
  nvidia_nim/tests/test_unit.py
  nvidia_triton/tests/test_unit.py
  openmetrics/tests/conftest.py
  openmetrics/tests/test_openmetrics.py
  powerdns_recursor/tests/test_metadata.py
  proxmox/tests/conftest.py
  quarkus/tests/test_unit.py
  rabbitmq/tests/test_openmetrics.py
  rabbitmq/tests/test_unit.py
  spark/tests/test_spark.py
  vllm/tests/test_unit.py
Due: .azure-pipelines/changes.yml

Simplify OpenMetrics multi-endpoint issue reporting
  cilium/tests/test_unit.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/metric_limit_issue.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
  openmetrics/tests/test_metric_limit_issue.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Add backend-neutral HTTP core and test fakes
  datadog_checks_base/datadog_checks/base/checks/base.py
  datadog_checks_base/datadog_checks/base/checks/kubelet_base/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/mixins.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/scraper/base_scraper.py
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/datadog_checks/base/stubs/http.py
  datadog_checks_base/datadog_checks/base/utils/headers.py
  datadog_checks_base/datadog_checks/base/utils/http.py
  datadog_checks_base/datadog_checks/base/utils/http_exceptions.py
  datadog_checks_base/datadog_checks/base/utils/http_protocol.py
  datadog_checks_base/datadog_checks/base/utils/requests_adapter.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_compat_scraper.py
  datadog_checks_base/tests/base/checks/openmetrics/test_legacy/test_openmetrics.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/scraper/test_stream_connection_lines.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_config.py
  datadog_checks_base/tests/base/checks/openmetrics/test_v2/test_interface.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
  datadog_checks_base/tests/base/checks/test_kubelet_base.py
  datadog_checks_base/tests/base/utils/http/common.py
  datadog_checks_base/tests/base/utils/http/test_auth.py
  datadog_checks_base/tests/base/utils/http/test_authtoken.py
  datadog_checks_base/tests/base/utils/http/test_capabilities.py
  datadog_checks_base/tests/base/utils/http/test_config.py
  datadog_checks_base/tests/base/utils/http/test_exceptions.py
  datadog_checks_base/tests/base/utils/http/test_headers.py
  datadog_checks_base/tests/base/utils/http/test_http.py
  datadog_checks_base/tests/base/utils/http/test_http_testing.py
  datadog_checks_base/tests/base/utils/http/test_kerberos_unit.py
  datadog_checks_base/tests/base/utils/http/test_legacy_options.py
  datadog_checks_base/tests/base/utils/http/test_socks5_proxy_integration.py
  datadog_checks_base/tests/base/utils/http/test_tls_and_certs.py
  datadog_checks_base/tests/stubs/test_http.py
  datadog_checks_dev/datadog_checks/dev/http.py
  datadog_checks_dev/datadog_checks/dev/http_legacy.py
  datadog_checks_dev/datadog_checks/dev/plugin/pytest.py
  docs/developer/base/http.md
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Avoid resolving agent version every call
  postgres/datadog_checks/postgres/column_statistics.py
  postgres/datadog_checks/postgres/metadata.py
  postgres/datadog_checks/postgres/postgres.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/pyproject.toml
Due: .azure-pipelines/changes.yml

Add changelog entries
  datadog_checks_base/changelog.d/25020.added
  datadog_checks_dev/changelog.d/25020.added
Due: .azure-pipelines/changes.yml

Add changelog
  postgres/changelog.d/25021.fixed
Due: .azure-pipelines/changes.yml

Avoid resolving agent version every call
  mysql/datadog_checks/mysql/activity.py
  mysql/datadog_checks/mysql/databases_data.py
  mysql/datadog_checks/mysql/metadata.py
  mysql/datadog_checks/mysql/mysql.py
  mysql/datadog_checks/mysql/statement_samples.py
  mysql/datadog_checks/mysql/statements.py
  mysql/pyproject.toml
Due: .azure-pipelines/changes.yml

Add changelog
  mysql/changelog.d/25022.fixed
Due: .azure-pipelines/changes.yml

Avoid resolving agent version every call
  sqlserver/datadog_checks/sqlserver/activity.py
  sqlserver/datadog_checks/sqlserver/agent_history.py
  sqlserver/datadog_checks/sqlserver/deadlocks.py
  sqlserver/datadog_checks/sqlserver/metadata.py
  sqlserver/datadog_checks/sqlserver/sqlserver.py
  sqlserver/datadog_checks/sqlserver/statements.py
  sqlserver/datadog_checks/sqlserver/stored_procedures.py
  sqlserver/datadog_checks/sqlserver/xe_collection/base.py
  sqlserver/pyproject.toml
  sqlserver/tests/test_xe_collection.py
Due: .azure-pipelines/changes.yml

Add changelog
  sqlserver/changelog.d/25023.fixed
Due: .azure-pipelines/changes.yml

Avoid resolving agent version every call
  clickhouse/datadog_checks/clickhouse/clickhouse.py
  clickhouse/datadog_checks/clickhouse/explain_plans.py
  clickhouse/datadog_checks/clickhouse/parts_and_merges.py
  clickhouse/datadog_checks/clickhouse/query_completions.py
  clickhouse/datadog_checks/clickhouse/query_errors.py
  clickhouse/datadog_checks/clickhouse/statement_samples.py
  clickhouse/datadog_checks/clickhouse/statements.py
  clickhouse/pyproject.toml
  clickhouse/tests/test_dbm_integration.py
  clickhouse/tests/test_explain_plans.py
  clickhouse/tests/test_parts_and_merges.py
  clickhouse/tests/test_query_completions.py
  clickhouse/tests/test_query_errors.py
  clickhouse/tests/test_statement_samples.py
Due: .azure-pipelines/changes.yml

Add changelog
  clickhouse/changelog.d/25024.fixed
Due: .azure-pipelines/changes.yml

Defer unaffected HTTP fixture migrations
  citrix_hypervisor/changelog.d/24815.fixed
  citrix_hypervisor/datadog_checks/citrix_hypervisor/check.py
  citrix_hypervisor/tests/conftest.py
  citrix_hypervisor/tests/test_citrix_hypervisor.py
  citrix_hypervisor/tests/test_metadata.py
  proxmox/changelog.d/24815.fixed
  proxmox/datadog_checks/proxmox/check.py
  proxmox/tests/conftest.py
  proxmox/tests/test_unit.py
  spark/changelog.d/24815.fixed
  spark/datadog_checks/spark/spark.py
  spark/tests/test_spark.py
Due: .azure-pipelines/changes.yml

Set data_type for saas-integrations dataflows
  bluecat_edge/assets/dataflows.yaml
  cisco_sdwan/assets/dataflows.yaml
  databricks/assets/dataflows.yaml
Due: .azure-pipelines/changes.yml

Clarify OpenMetrics filter option display text
  datadog_checks_base/datadog_checks/base/checks/openmetrics/base_check.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/metric_limit_issue.py
  datadog_checks_base/datadog_checks/base/checks/openmetrics/v2/base.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/master.yml

Test remediation copy in its owning package
  datadog_checks_base/tests/base/checks/openmetrics/test_metric_limit_issue.py
  openmetrics/tests/test_metric_limit_issue.py
Due: .azure-pipelines/changes.yml

Set data_type for hubspot-content-hub-reference-tables
  hubspot_content_hub/assets/dataflows.yaml
Due: .azure-pipelines/changes.yml

Centralize the insufficient-privilege query sentinel in one constant (#25019)
  postgres/changelog.d/25019.fixed
  postgres/datadog_checks/postgres/diagnose.py
  postgres/datadog_checks/postgres/statement_samples.py
  postgres/datadog_checks/postgres/statements.py
  postgres/datadog_checks/postgres/statements_v2.py
  postgres/datadog_checks/postgres/util.py
Due: .azure-pipelines/changes.yml

Fix Prometheus text encoding fallback
  datadog_checks_base/datadog_checks/base/checks/prometheus/mixins.py
  datadog_checks_base/tests/base/checks/prometheus/test_prometheus.py
Due: .azure-pipelines/All.yml, .azure-pipelines/all.yml, .azure-pipelines/all_agent7.yml, .azure-pipelines/all_pr.yml, .azure-pipelines/changes.yml, .azure-pipelines/master.yml

Use the shared DDIGNORE_COMMENT constant in the integration test spy
  postgres/tests/test_statements_v2_integration.py
Due: .azure-pipelines/changes.yml

Path conditions:
  .azure-pipelines/All.yml: any of: datadog_checks_base/datadog_checks
  .azure-pipelines/all.yml: any of: datadog_checks_base/datadog_checks, .azure-pipelines
  .azure-pipelines/all_agent7.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/all_pr.yml: any of: datadog_checks_base/datadog_checks, but not: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/changes.yml: any file but: datadog_checks_base/datadog_checks, datadog_checks_dev/datadog_checks/dev/*.py
  .azure-pipelines/compile_deps.yml: any of: datadog_checks_base/datadog_checks/base/data/agent_requirements.in
  .azure-pipelines/master.yml: any of: datadog_checks_base/datadog_checks
